:root {
    --hw-color-primary:#1677ff;
    --hw-color-success:#52c41a;
    --hw-color-warning:#faad14;
    --hw-color-error:#ff4d4f;
    --hw-color-info:#1677ff;
    --hw-color-link:#1677ff;
    --hw-color-text-base:#000;
    --hw-color-bg-base:#fff;
    --hw-font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --hw-font-family-code:'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    --hw-font-size:14px;
    --hw-line-width:1px;
    --hw-line-type:solid;
    --hw-color-text:rgba(0, 0, 0, 0.88);
    --hw-color-text-secondary:rgba(0, 0, 0, 0.65);
    --hw-color-text-tertiary:rgba(0, 0, 0, 0.45);
    --hw-color-text-quaternary:rgba(0, 0, 0, 0.25);
    --hw-color-bg-text-hover:rgba(0, 0, 0, 0.06);
    --hw-color-bg-text-active:rgba(0, 0, 0, 0.15);
}

:root .hw-button {
    --hw-button-font-weight:400;
    --hw-button-default-shadow:0 2px 0 rgba(0, 0, 0, 0.02);
    --hw-button-primary-shadow:0 2px 0 rgba(5, 145, 255, 0.1);
    --hw-button-danger-shadow:0 2px 0 rgba(255, 38, 5, 0.06);
    --hw-button-primary-color:#fff;
    --hw-button-danger-color:#fff;
    --hw-button-border-color-disabled:#d9d9d9;
    --hw-button-default-ghost-color:#ffffff;
    --hw-button-ghost-bg:transparent;
    --hw-button-default-ghost-border-color:#ffffff;
    --hw-button-padding-inline:15px;
    --hw-button-padding-inline-lg:15px;
    --hw-button-padding-inline-sm:7px;
    --hw-button-only-icon-size:16px;
    --hw-button-only-icon-size-sm:14px;
    --hw-button-only-icon-size-lg:18px;
    --hw-button-group-border-color:#4096ff;
    --hw-button-link-hover-bg:transparent;
    --hw-button-text-bg:#ffffff;
    --hw-button-text-hover-bg:rgba(0, 0, 0, 0.06);
    --hw-button-default-color:rgba(0, 0, 0, 0.88);
    --hw-button-default-bg:#ffffff;
    --hw-button-default-border-color:#d9d9d9;
    --hw-button-default-border-color-disabled:#d9d9d9;
    --hw-button-default-hover-bg:#ffffff;
    --hw-button-default-hover-color:#4096ff;
    --hw-button-default-hover-border-color:#4096ff;
    --hw-button-default-active-bg:#ffffff;
    --hw-button-default-active-color:#0958d9;
    --hw-button-default-active-border-color:#0958d9;
    --hw-button-content-font-size:14px;
    --hw-button-content-font-size-sm:14px;
    --hw-button-content-font-size-lg:16px;
    --hw-button-content-line-height:1.5714285714285714;
    --hw-button-content-line-height-sm:1.5714285714285714;
    --hw-button-content-line-height-lg:1.5;
    --hw-button-padding-block:4px;
    --hw-button-padding-block-sm:0px;
    --hw-button-padding-block-lg:7px;
}

.hw-button {
    outline: none;
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
    font-size: 14px;
    line-height: 1.6px;
    height: 32px;
    padding: 4px 15px;
    border-radius: 6px;
    box-sizing: border-box;
    white-space: nowrap;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    user-select: none;
    touch-action: manipulation;
    color: rgba(0, 0, 0, 0.88);
    background-image: none;
    background: transparent;
}

.hw-button:disabled>* {
    pointer-events: none;
}

.hw-button >span {
    display: inline-block;
}

.hw-button:hover {
    cursor: pointer;
}

.hw-button-default {
    background: #ffffff;
    border-color: #d9d9d9;
    color: rgba(0, 0, 0, 0.88);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}

.hw-button-default:disabled,.hw-button-default.hw-button-disabled {
    cursor: not-allowed;
    border-color: var(--hw-button-border-color-disabled);
    color: var(--hw-color-text-disabled);
    background: var(--hw-color-bg-container-disabled);
    box-shadow: none;
}

.hw-button-default:not(:disabled):not(.hw-button-disabled):hover {
    color: var(--hw-button-default-hover-color);
    border-color: var(--hw-button-default-hover-border-color);
    background: var(--hw-button-default-hover-bg);
}

.hw-button-default:not(:disabled):not(.hw-button-disabled):active {
    color: var(--hw-button-default-active-color);
    border-color: var(--hw-button-default-active-border-color);
    background: var(--hw-button-default-active-bg);
}

.hw-button-default.hw-button-background-ghost {
    color: var(--hw-button-default-ghost-color);
    background: var(--hw-button-ghost-bg);
    border-color: var(--hw-button-default-ghost-border-color);
    box-shadow: none;
}

.hw-button-default.hw-button-background-ghost:not(:disabled):not(.hw-button-disabled):hover {
    background: var(--hw-button-ghost-bg);
}

.hw-button-default.hw-button-background-ghost:not(:disabled):not(.hw-button-disabled):active {
    background: var(--hw-button-ghost-bg);
}

.hw-button-default.hw-button-background-ghost:disabled {
    cursor: not-allowed;
    color: var(--hw-color-text-disabled);
    border-color: var(--hw-color-border);
}

.hw-button-default:not(:disabled):not(.hw-button-disabled):focus-visible {
    outline: 4px solid #91caff;
    outline-offset: 1px;
    transition: outline-offset 0s, outline 0s;
}

.hw-button-default.hw-button-dangerous {
    color: var(--hw-color-error);
    border-color: var(--hw-color-error);
}

.hw-button-default.hw-button-dangerous:not(:disabled):not(.hw-button-disabled):hover {
    color: var(--hw-color-error-hover);
    border-color: var(--hw-color-error-border-hover);
}

.hw-button-default.hw-button-dangerous:not(:disabled):not(.hw-button-disabled):active {
    color: var(--hw-color-error-active);
    border-color: var(--hw-color-error-active);
}

.hw-button-default.hw-button-dangerous.hw-button-background-ghost {
    color: var(--hw-color-error);
    background: var(--hw-button-ghost-bg);
    border-color: var(--hw-color-error);
    box-shadow: none;
}

.hw-button-default.hw-button-dangerous.hw-button-background-ghost:not(:disabled):not(.hw-button-disabled):hover {
    background: var(--hw-button-ghost-bg);
}

.hw-button-default.hw-button-dangerous.hw-button-background-ghost:not(:disabled):not(.hw-button-disabled):active {
    background: var(--hw-button-ghost-bg);
}

.hw-button-default.hw-button-dangerous.hw-button-background-ghost:disabled {
    cursor: not-allowed;
    color: var(--hw-color-text-disabled);
    border-color: var(--hw-color-border);
}

.hw-button-default.hw-button-dangerous:disabled,.hw-button-default.hw-button-dangerous.hw-button-disabled {
    cursor: not-allowed;
    border-color: var(--hw-button-border-color-disabled);
    color: var(--hw-color-text-disabled);
    background: var(--hw-color-bg-container-disabled);
    box-shadow: none;
}

.hw-button-primary {
    color: var(--hw-button-primary-color);
    background: var(--hw-color-primary);
    box-shadow: var(--hw-button-primary-shadow);
}

.hw-button-primary:disabled,.hw-button-primary.hw-button-disabled {
    cursor: not-allowed;
    border-color: #d9d9d9;
    color: #d9d9d9;
    background: none;
    box-shadow: none;
}

.hw-button-primary:not(:disabled):not(.hw-button-disabled):hover {
    color: var(--hw-color-text-light-solid);
    background: var(--hw-color-primary-hover);
}

.hw-button-primary:not(:disabled):not(.hw-button-disabled):active {
    color: var(--hw-color-text-light-solid);
    background: var(--hw-color-primary-active);
}

.hw-button-primary.hw-button-background-ghost {
    color: var(--hw-color-primary);
    background: var(--hw-button-ghost-bg);
    border-color: var(--hw-color-primary);
    box-shadow: none;
}

.hw-button-primary.hw-button-background-ghost:not(:disabled):not(.hw-button-disabled):hover {
    background: var(--hw-button-ghost-bg);
    color: var(--hw-color-primary-hover);
    border-color: var(--hw-color-primary-hover);
}

.hw-button-primary.hw-button-background-ghost:not(:disabled):not(.hw-button-disabled):active {
    background: var(--hw-button-ghost-bg);
    color: var(--hw-color-primary-active);
    border-color: var(--hw-color-primary-active);
}

.hw-button-primary.hw-button-background-ghost:disabled {
    cursor: not-allowed;
    color: var(--hw-color-text-disabled);
    border-color: var(--hw-color-border);
}

.hw-button-primary.hw-button-dangerous {
    background: var(--hw-color-error);
    box-shadow: var(--hw-button-danger-shadow);
    color: var(--hw-button-danger-color);
}

.hw-button-primary.hw-button-dangerous:not(:disabled):not(.hw-button-disabled):hover {
    background: var(--hw-color-error-hover);
}

.hw-button-primary.hw-button-dangerous:not(:disabled):not(.hw-button-disabled):active {
    background: var(--hw-color-error-active);
}

.hw-button-primary.hw-button-dangerous.hw-button-background-ghost {
    color: var(--hw-color-error);
    background: var(--hw-button-ghost-bg);
    border-color: var(--hw-color-error);
    box-shadow: none;
}

.hw-button-primary.hw-button-dangerous.hw-button-background-ghost:not(:disabled):not(.hw-button-disabled):hover {
    background: var(--hw-button-ghost-bg);
    color: var(--hw-color-error-hover);
    border-color: var(--hw-color-error-hover);
}

.hw-button-primary.hw-button-dangerous.hw-button-background-ghost:not(:disabled):not(.hw-button-disabled):active {
    background: var(--hw-button-ghost-bg);
    color: var(--hw-color-error-active);
    border-color: var(--hw-color-error-active);
}

.hw-button-primary.hw-button-dangerous.hw-button-background-ghost:disabled {
    cursor: not-allowed;
    color: var(--hw-color-text-disabled);
    border-color: var(--hw-color-border);
}

.hw-button-primary.hw-button-dangerous:disabled,.hw-button-primary.hw-button-dangerous.hw-button-disabled {
    cursor: not-allowed;
    border-color: var(--hw-button-border-color-disabled);
    color: var(--hw-color-text-disabled);
    background: var(--hw-color-bg-container-disabled);
    box-shadow: none;
}

.hw-button-dashed {
    background: var(--hw-button-default-bg);
    border-color: var(--hw-button-default-border-color);
    color: var(--hw-button-default-color);
    box-shadow: var(--hw-button-default-shadow);
    border-style: dashed;
}

.hw-button-dashed:disabled,.hw-button-dashed.hw-button-disabled {
    cursor: not-allowed;
    border-color: var(--hw-button-border-color-disabled);
    color: var(--hw-color-text-disabled);
    background: var(--hw-color-bg-container-disabled);
    box-shadow: none;
}

.hw-button-dashed:not(:disabled):not(.hw-button-disabled):hover {
    color: var(--hw-button-default-hover-color);
    border-color: var(--hw-button-default-hover-border-color);
    background: var(--hw-button-default-hover-bg);
}

.hw-button-dashed:not(:disabled):not(.hw-button-disabled):active {
    color: var(--hw-button-default-active-color);
    border-color: var(--hw-button-default-active-border-color);
    background: var(--hw-button-default-active-bg);
}

.hw-button-dashed.hw-button-background-ghost {
    color: var(--hw-button-default-ghost-color);
    background: var(--hw-button-ghost-bg);
    border-color: var(--hw-button-default-ghost-border-color);
    box-shadow: none;
}

.hw-button-dashed.hw-button-background-ghost:not(:disabled):not(.hw-button-disabled):hover {
    background: var(--hw-button-ghost-bg);
}

.hw-button-dashed.hw-button-background-ghost:not(:disabled):not(.hw-button-disabled):active {
    background: var(--hw-button-ghost-bg);
}

.hw-button-dashed.hw-button-background-ghost:disabled {
    cursor: not-allowed;
    color: var(--hw-color-text-disabled);
    border-color: var(--hw-color-border);
}

.hw-button-dashed.hw-button-dangerous {
    color: var(--hw-color-error);
    border-color: var(--hw-color-error);
}

.hw-button-dashed.hw-button-dangerous:not(:disabled):not(.hw-button-disabled):hover {
    color: var(--hw-color-error-hover);
    border-color: var(--hw-color-error-border-hover);
}

.hw-button-dashed.hw-button-dangerous:not(:disabled):not(.hw-button-disabled):active {
    color: var(--hw-color-error-active);
    border-color: var(--hw-color-error-active);
}

.hw-button-dashed.hw-button-dangerous.hw-button-background-ghost {
    color: var(--hw-color-error);
    background: var(--hw-button-ghost-bg);
    border-color: var(--hw-color-error);
    box-shadow: none;
}

.hw-button-dashed.hw-button-dangerous.hw-button-background-ghost:not(:disabled):not(.hw-button-disabled):hover {
    background: var(--hw-button-ghost-bg);
}

.hw-button-dashed.hw-button-dangerous.hw-button-background-ghost:not(:disabled):not(.hw-button-disabled):active {
    background: var(--hw-button-ghost-bg);
}

.hw-button-dashed.hw-button-dangerous.hw-button-background-ghost:disabled {
    cursor: not-allowed;
    color: var(--hw-color-text-disabled);
    border-color: var(--hw-color-border);
}

.hw-button-dashed.hw-button-dangerous:disabled,.hw-button-dashed.hw-button-dangerous.hw-button-disabled {
    cursor: not-allowed;
    border-color: var(--hw-button-border-color-disabled);
    color: var(--hw-color-text-disabled);
    background: var(--hw-color-bg-container-disabled);
    box-shadow: none;
}

.hw-button-link {
    color: var(--hw-color-link);
}

.hw-button-link:not(:disabled):not(.hw-button-disabled):hover {
    color: var(--hw-color-link-hover);
    background: var(--hw-button-link-hover-bg);
}

.hw-button-link:not(:disabled):not(.hw-button-disabled):active {
    color: var(--hw-color-link-active);
}

.hw-button-link:disabled,.hw-button-link.hw-button-disabled {
    cursor: not-allowed;
    color: var(--hw-color-text-disabled);
}

.hw-button-link.hw-button-dangerous {
    color: var(--hw-color-error);
}

.hw-button-link.hw-button-dangerous:not(:disabled):not(.hw-button-disabled):hover {
    color: var(--hw-color-error-hover);
}

.hw-button-link.hw-button-dangerous:not(:disabled):not(.hw-button-disabled):active {
    color: var(--hw-color-error-active);
}

.hw-button-link.hw-button-dangerous:disabled,.hw-button-link.hw-button-dangerous.hw-button-disabled {
    cursor: not-allowed;
    color: var(--hw-color-text-disabled);
}

.hw-button-text:not(:disabled):not(.hw-button-disabled):hover {
    color: var(--hw-color-text);
    background: var(--hw-button-text-hover-bg);
}

.hw-button-text:not(:disabled):not(.hw-button-disabled):active {
    color: var(--hw-color-text);
    background: var(--hw-color-bg-text-active);
}

.hw-button-text:disabled,.hw-button-text.hw-button-disabled {
    cursor: not-allowed;
    color: var(--hw-color-text-disabled);
}

.hw-button-text.hw-button-dangerous {
    color: var(--hw-color-error);
}

.hw-button-text.hw-button-dangerous:disabled,.hw-button-text.hw-button-dangerous.hw-button-disabled {
    cursor: not-allowed;
    color: var(--hw-color-text-disabled);
}

.hw-button-text.hw-button-dangerous:not(:disabled):not(.hw-button-disabled):hover {
    color: var(--hw-color-error-hover);
    background: var(--hw-color-error-bg);
}

.hw-button-text.hw-button-dangerous:not(:disabled):not(.hw-button-disabled):active {
    color: var(--hw-color-error-hover);
    background: var(--hw-color-error-bg);
}

.hw-button-ghost.hw-button-background-ghost {
    color: var(--hw-color-bg-container);
    background: var(--hw-button-ghost-bg);
    border-color: var(--hw-color-bg-container);
    box-shadow: none;
}

.hw-button-ghost.hw-button-background-ghost:not(:disabled):not(.hw-button-disabled):hover {
    background: var(--hw-button-ghost-bg);
}

.hw-button-ghost.hw-button-background-ghost:not(:disabled):not(.hw-button-disabled):active {
    background: var(--hw-button-ghost-bg);
}

.hw-button-ghost.hw-button-background-ghost:disabled {
    cursor: not-allowed;
    color: var(--hw-color-text-disabled);
    border-color: var(--hw-color-border);
}

.hw-button-large {
    font-size: var(--hw-button-content-font-size-lg);
    line-height: var(--hw-button-content-line-height-lg);
    height: var(--hw-control-height-lg);
    padding: var(--hw-button-padding-block-lg) var(--hw-button-padding-inline-lg);
    border-radius: var(--hw-border-radius-lg);
}

.hw-button-small {
    font-size: var(--hw-button-content-font-size-sm);
    line-height: var(--hw-button-content-line-height-sm);
    height: var(--hw-control-height-sm);
    padding: var(--hw-button-padding-block-sm) var(--hw-button-padding-inline-sm);
    border-radius: var(--hw-border-radius-sm);
}

.hw-button.hw-button-loading {
    opacity: 0.65;
    cursor: default;
}

.hw-button:not(.hw-button-icon-only)>.hw-button-icon.hw-button-loading-icon, .hw-button:not(.hw-button-icon-only)>.hw-button-icon:not(:last-child) {
    margin-inline-end: 8px;
}

.hw-button-loading > .hw-button-loading-animation > .hw-button-loading-svg {
    margin-right: 3px;
    animation: hw-button-rotate 1s infinite linear;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
}

@keyframes hw-button-rotate {
    to {
        transform: rotate(1turn);
    }
}

.hw-div {
    background-color: #ffffff;
    border-radius: 8px 8px 0 0;
    padding: 42px 24px 50px;
    color: rgba(0, 0, 0, 0.88);
    border-bottom: 1px solid rgba(5, 5, 5, 0.06);
    display: flex;
    justify-content: space-evenly;
}

.hw-bg-gray {
    background: rgb(190, 200, 200);
}

.hw-div-section{
    width: 50%;
}

.hw-div .button{
    margin: 10px;
}