$hw-blue: #1677ff;
$hw-purple: #722ed1;
$hw-cyan: #13c2c2;
$hw-green: #52c41a;
$hw-magenta: #eb2f96;
$hw-pink: #eb2f96;
$hw-red: #f5222d;
$hw-orange: #fa8c16;
$hw-yellow: #fadb14;
$hw-volcano: #fa541c;
$hw-geekblue: #2f54eb;
$hw-gold: #faad14;
$hw-lime: #a0d911;
$hw-color-primary: #1677ff;
$hw-color-success: #52c41a;
$hw-color-warning: #faad14;
$hw-color-error: #ff4d4f;
$hw-color-info: #1677ff;
$hw-color-link: #1677ff;
$hw-color-text-base: #000;
$hw-color-bg-base: #fff;
$hw-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$hw-font-family-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo,
  Courier, monospace;
$hw-font-size: 14px;
$hw-line-width: 1px;
$hw-line-type: solid;
$hw-motion-ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
$hw-motion-ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
$hw-motion-ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
$hw-motion-ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
$hw-motion-ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
$hw-motion-ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
$hw-motion-ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$hw-motion-ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$hw-border-radius: 6px;
$hw-size-popup-arrow: 16px;
$hw-control-height: 32px;
$hw-z-index-base: 0;
$hw-z-index-popup-base: 1000;
$hw-opacity-image: 1px;
$hw-blue-1: #e6f4ff;
$hw-blue-2: #bae0ff;
$hw-blue-3: #91caff;
$hw-blue-4: #69b1ff;
$hw-blue-5: #4096ff;
$hw-blue-6: #1677ff;
$hw-blue-7: #0958d9;
$hw-blue-8: #003eb3;
$hw-blue-9: #002c8c;
$hw-blue-10: #001d66;
$hw-purple-1: #f9f0ff;
$hw-purple-2: #efdbff;
$hw-purple-3: #d3adf7;
$hw-purple-4: #b37feb;
$hw-purple-5: #9254de;
$hw-purple-6: #722ed1;
$hw-purple-7: #531dab;
$hw-purple-8: #391085;
$hw-purple-9: #22075e;
$hw-purple-10: #120338;
$hw-cyan-1: #e6fffb;
$hw-cyan-2: #b5f5ec;
$hw-cyan-3: #87e8de;
$hw-cyan-4: #5cdbd3;
$hw-cyan-5: #36cfc9;
$hw-cyan-6: #13c2c2;
$hw-cyan-7: #08979c;
$hw-cyan-8: #006d75;
$hw-cyan-9: #00474f;
$hw-cyan-10: #002329;
$hw-green-1: #f6ffed;
$hw-green-2: #d9f7be;
$hw-green-3: #b7eb8f;
$hw-green-4: #95de64;
$hw-green-5: #73d13d;
$hw-green-6: #52c41a;
$hw-green-7: #389e0d;
$hw-green-8: #237804;
$hw-green-9: #135200;
$hw-green-10: #092b00;
$hw-magenta-1: #fff0f6;
$hw-magenta-2: #ffd6e7;
$hw-magenta-3: #ffadd2;
$hw-magenta-4: #ff85c0;
$hw-magenta-5: #f759ab;
$hw-magenta-6: #eb2f96;
$hw-magenta-7: #c41d7f;
$hw-magenta-8: #9e1068;
$hw-magenta-9: #780650;
$hw-magenta-10: #520339;
$hw-pink-1: #fff0f6;
$hw-pink-2: #ffd6e7;
$hw-pink-3: #ffadd2;
$hw-pink-4: #ff85c0;
$hw-pink-5: #f759ab;
$hw-pink-6: #eb2f96;
$hw-pink-7: #c41d7f;
$hw-pink-8: #9e1068;
$hw-pink-9: #780650;
$hw-pink-10: #520339;
$hw-red-1: #fff1f0;
$hw-red-2: #ffccc7;
$hw-red-3: #ffa39e;
$hw-red-4: #ff7875;
$hw-red-5: #ff4d4f;
$hw-red-6: #f5222d;
$hw-red-7: #cf1322;
$hw-red-8: #a8071a;
$hw-red-9: #820014;
$hw-red-10: #5c0011;
$hw-orange-1: #fff7e6;
$hw-orange-2: #ffe7ba;
$hw-orange-3: #ffd591;
$hw-orange-4: #ffc069;
$hw-orange-5: #ffa940;
$hw-orange-6: #fa8c16;
$hw-orange-7: #d46b08;
$hw-orange-8: #ad4e00;
$hw-orange-9: #873800;
$hw-orange-10: #612500;
$hw-yellow-1: #feffe6;
$hw-yellow-2: #ffffb8;
$hw-yellow-3: #fffb8f;
$hw-yellow-4: #fff566;
$hw-yellow-5: #ffec3d;
$hw-yellow-6: #fadb14;
$hw-yellow-7: #d4b106;
$hw-yellow-8: #ad8b00;
$hw-yellow-9: #876800;
$hw-yellow-10: #614700;
$hw-volcano-1: #fff2e8;
$hw-volcano-2: #ffd8bf;
$hw-volcano-3: #ffbb96;
$hw-volcano-4: #ff9c6e;
$hw-volcano-5: #ff7a45;
$hw-volcano-6: #fa541c;
$hw-volcano-7: #d4380d;
$hw-volcano-8: #ad2102;
$hw-volcano-9: #871400;
$hw-volcano-10: #610b00;
$hw-geekblue-1: #f0f5ff;
$hw-geekblue-2: #d6e4ff;
$hw-geekblue-3: #adc6ff;
$hw-geekblue-4: #85a5ff;
$hw-geekblue-5: #597ef7;
$hw-geekblue-6: #2f54eb;
$hw-geekblue-7: #1d39c4;
$hw-geekblue-8: #10239e;
$hw-geekblue-9: #061178;
$hw-geekblue-10: #030852;
$hw-gold-1: #fffbe6;
$hw-gold-2: #fff1b8;
$hw-gold-3: #ffe58f;
$hw-gold-4: #ffd666;
$hw-gold-5: #ffc53d;
$hw-gold-6: #faad14;
$hw-gold-7: #d48806;
$hw-gold-8: #ad6800;
$hw-gold-9: #874d00;
$hw-gold-10: #613400;
$hw-lime-1: #fcffe6;
$hw-lime-2: #f4ffb8;
$hw-lime-3: #eaff8f;
$hw-lime-4: #d3f261;
$hw-lime-5: #bae637;
$hw-lime-6: #a0d911;
$hw-lime-7: #7cb305;
$hw-lime-8: #5b8c00;
$hw-lime-9: #3f6600;
$hw-lime-10: #254000;
$hw-color-text: rgba(0, 0, 0, 0.88);
$hw-color-text-secondary: rgba(0, 0, 0, 0.65);
$hw-color-text-tertiary: rgba(0, 0, 0, 0.45);
$hw-color-text-quaternary: rgba(0, 0, 0, 0.25);
$hw-color-fill: rgba(0, 0, 0, 0.15);
$hw-color-fill-secondary: rgba(0, 0, 0, 0.06);
$hw-color-fill-tertiary: rgba(0, 0, 0, 0.04);
$hw-color-fill-quaternary: rgba(0, 0, 0, 0.02);
$hw-color-bg-layout: #f5f5f5;
$hw-color-bg-container: #ffffff;
$hw-color-bg-elevated: #ffffff;
$hw-color-bg-spotlight: rgba(0, 0, 0, 0.85);
$hw-color-bg-blur: transparent;
$hw-color-border: #d9d9d9;
$hw-color-border-secondary: #f0f0f0;
$hw-color-primary-bg: #e6f4ff;
$hw-color-primary-bg-hover: #bae0ff;
$hw-color-primary-border: #91caff;
$hw-color-primary-border-hover: #69b1ff;
$hw-color-primary-hover: #4096ff;
$hw-color-primary-active: #0958d9;
$hw-color-primary-text-hover: #4096ff;
$hw-color-primary-text: #1677ff;
$hw-color-primary-text-active: #0958d9;
$hw-color-success-bg: #f6ffed;
$hw-color-success-bg-hover: #d9f7be;
$hw-color-success-border: #b7eb8f;
$hw-color-success-border-hover: #95de64;
$hw-color-success-hover: #95de64;
$hw-color-success-active: #389e0d;
$hw-color-success-text-hover: #73d13d;
$hw-color-success-text: #52c41a;
$hw-color-success-text-active: #389e0d;
$hw-color-error-bg: #fff2f0;
$hw-color-error-bg-hover: #fff1f0;
$hw-color-error-border: #ffccc7;
$hw-color-error-border-hover: #ffa39e;
$hw-color-error-hover: #ff7875;
$hw-color-error-active: #d9363e;
$hw-color-error-text-hover: #ff7875;
$hw-color-error-text: #ff4d4f;
$hw-color-error-text-active: #d9363e;
$hw-color-warning-bg: #fffbe6;
$hw-color-warning-bg-hover: #fff1b8;
$hw-color-warning-border: #ffe58f;
$hw-color-warning-border-hover: #ffd666;
$hw-color-warning-hover: #ffd666;
$hw-color-warning-active: #d48806;
$hw-color-warning-text-hover: #ffc53d;
$hw-color-warning-text: #faad14;
$hw-color-warning-text-active: #d48806;
$hw-color-info-bg: #e6f4ff;
$hw-color-info-bg-hover: #bae0ff;
$hw-color-info-border: #91caff;
$hw-color-info-border-hover: #69b1ff;
$hw-color-info-hover: #69b1ff;
$hw-color-info-active: #0958d9;
$hw-color-info-text-hover: #4096ff;
$hw-color-info-text: #1677ff;
$hw-color-info-text-active: #0958d9;
$hw-color-link-hover: #69b1ff;
$hw-color-link-active: #0958d9;
$hw-color-bg-mask: rgba(0, 0, 0, 0.45);
$hw-color-white: #fff;
$hw-font-size-sm: 12px;
$hw-font-size-lg: 16px;
$hw-font-size-xl: 20px;
$hw-font-size-heading-1: 38px;
$hw-font-size-heading-2: 30px;
$hw-font-size-heading-3: 24px;
$hw-font-size-heading-4: 20px;
$hw-font-size-heading-5: 16px;
$hw-line-height: 1.5714285714285714;
$hw-line-height-lg: 1.5;
$hw-line-height-sm: 1.6666666666666667;
$hw-font-height: 22px;
$hw-font-height-lg: 24px;
$hw-font-height-sm: 20px;
$hw-line-height-heading-1: 1.2105263157894737;
$hw-line-height-heading-2: 1.2666666666666666;
$hw-line-height-heading-3: 1.3333333333333333;
$hw-line-height-heading-4: 1.4;
$hw-line-height-heading-5: 1.5;
$hw-control-height-sm: 24px;
$hw-control-height-xs: 16px;
$hw-control-height-lg: 40px;
$hw-motion-duration-fast: 0.1s;
$hw-motion-duration-mid: 0.2s;
$hw-motion-duration-slow: 0.3s;
$hw-line-width-bold: 2px;
$hw-border-radius-xs: 2px;
$hw-border-radius-sm: 4px;
$hw-border-radius-lg: 8px;
$hw-border-radius-outer: 4px;
$hw-color-fill-content: rgba(0, 0, 0, 0.06);
$hw-color-fill-content-hover: rgba(0, 0, 0, 0.15);
$hw-color-fill-alter: rgba(0, 0, 0, 0.02);
$hw-color-bg-container-disabled: rgba(0, 0, 0, 0.04);
$hw-color-border-bg: #ffffff;
$hw-color-split: rgba(5, 5, 5, 0.06);
$hw-color-text-placeholder: rgba(0, 0, 0, 0.25);
$hw-color-text-disabled: rgba(0, 0, 0, 0.25);
$hw-color-text-heading: rgba(0, 0, 0, 0.88);
$hw-color-text-label: rgba(0, 0, 0, 0.65);
$hw-color-text-description: rgba(0, 0, 0, 0.45);
$hw-color-text-light-solid: #fff;
$hw-color-highlight: #ff4d4f;
$hw-color-bg-text-hover: rgba(0, 0, 0, 0.06);
$hw-color-bg-text-active: rgba(0, 0, 0, 0.15);
$hw-color-icon: rgba(0, 0, 0, 0.45);
$hw-color-icon-hover: rgba(0, 0, 0, 0.88);
$hw-color-error-outline: rgba(255, 38, 5, 0.06);
$hw-color-warning-outline: rgba(255, 215, 5, 0.1);
$hw-font-size-icon: 12px;
$hw-line-width-focus: 4px;
$hw-control-outline-width: 2px;
$hw-control-interactive-size: 16px;
$hw-control-item-bg-hover: rgba(0, 0, 0, 0.04);
$hw-control-item-bg-active: #e6f4ff;
$hw-control-item-bg-active-hover: #bae0ff;
$hw-control-item-bg-active-disabled: rgba(0, 0, 0, 0.15);
$hw-control-tmp-outline: rgba(0, 0, 0, 0.02);
$hw-control-outline: rgba(5, 145, 255, 0.1);
$hw-font-weight-strong: 600;
$hw-opacity-loading: 0.65;
$hw-link-decoration: none;
$hw-link-hover-decoration: none;
$hw-link-focus-decoration: none;
$hw-control-padding-horizontal: 12px;
$hw-control-padding-horizontal-sm: 8px;
$hw-padding-xxs: 4px;
$hw-padding-xs: 8px;
$hw-padding-sm: 12px;
$hw-padding: 16px;
$hw-padding-md: 20px;
$hw-padding-lg: 24px;
$hw-padding-xl: 32px;
$hw-padding-content-horizontal-lg: 24px;
$hw-padding-content-vertical-lg: 16px;
$hw-padding-content-horizontal: 16px;
$hw-padding-content-vertical: 12px;
$hw-padding-content-horizontal-sm: 16px;
$hw-padding-content-vertical-sm: 8px;
$hw-margin-xxs: 4px;
$hw-margin-xs: 8px;
$hw-margin-sm: 12px;
$hw-margin: 16px;
$hw-margin-md: 20px;
$hw-margin-lg: 24px;
$hw-margin-xl: 32px;
$hw-margin-xxl: 48px;
$hw-box-shadow:
  0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);
$hw-box-shadow-secondary:
  0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);
$hw-box-shadow-tertiary:
  0 1px 2px 0 rgba(0, 0, 0, 0.03),
  0 1px 6px -1px rgba(0, 0, 0, 0.02),
  0 2px 4px 0 rgba(0, 0, 0, 0.02);
$hw-box-shadow-popover-arrow: 2px 2px 5px rgba(0, 0, 0, 0.05);
$hw-box-shadow-card:
  0 1px 2px -2px rgba(0, 0, 0, 0.16),
  0 3px 6px 0 rgba(0, 0, 0, 0.12),
  0 5px 12px 4px rgba(0, 0, 0, 0.09);
$hw-box-shadow-drawer-right:
  -6px 0 16px 0 rgba(0, 0, 0, 0.08),
  -3px 0 6px -4px rgba(0, 0, 0, 0.12),
  -9px 0 28px 8px rgba(0, 0, 0, 0.05);
$hw-box-shadow-drawer-left:
  6px 0 16px 0 rgba(0, 0, 0, 0.08),
  3px 0 6px -4px rgba(0, 0, 0, 0.12),
  9px 0 28px 8px rgba(0, 0, 0, 0.05);
$hw-box-shadow-drawer-up:
  0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);
$hw-box-shadow-drawer-down:
  0 -6px 16px 0 rgba(0, 0, 0, 0.08),
  0 -3px 6px -4px rgba(0, 0, 0, 0.12),
  0 -9px 28px 8px rgba(0, 0, 0, 0.05);
$hw-box-shadow-tabs-overflow-left: inset 10px 0 8px -8px rgba(0, 0, 0, 0.08);
$hw-box-shadow-tabs-overflow-right: inset -10px 0 8px -8px rgba(0, 0, 0, 0.08);
$hw-box-shadow-tabs-overflow-top: inset 0 10px 8px -8px rgba(0, 0, 0, 0.08);
$hw-box-shadow-tabs-overflow-bottom: inset 0 -10px 8px -8px rgba(0, 0, 0, 0.08);

$hw-float-button-dot-offset-in-circle: 5.857864376269049px;
$hw-float-button-dot-offset-in-square: 2.3431457505076194px;

$hw-badge-indicator-z-index: auto;
$hw-badge-indicator-height: 20px;
$hw-badge-indicator-height-sm: 14px;
$hw-badge-dot-size: 6px;
$hw-badge-text-font-size: 12px;
$hw-badge-text-font-size-sm: 12px;
$hw-badge-text-font-weight: normal;
$hw-badge-status-size: 6px;

$hw-menu-dropdown-width: 160px;
$hw-menu-z-index-popup: 1050;
$hw-menu-radius-item: 8px;
$hw-menu-item-border-radius: 8px;
$hw-menu-radius-sub-menu-item: 4px;
$hw-menu-sub-menu-item-border-radius: 4px;
$hw-menu-color-item-text: rgba(0, 0, 0, 0.88);
$hw-menu-item-color: rgba(0, 0, 0, 0.88);
$hw-menu-color-item-text-hover: rgba(0, 0, 0, 0.88);
$hw-menu-item-hover-color: rgba(0, 0, 0, 0.88);
$hw-menu-color-item-text-hover-horizontal: #1677ff;
$hw-menu-horizontal-item-hover-color: #1677ff;
$hw-menu-color-group-title: rgba(0, 0, 0, 0.45);
$hw-menu-group-title-color: rgba(0, 0, 0, 0.45);
$hw-menu-color-item-text-selected: #1677ff;
$hw-menu-item-selected-color: #1677ff;
$hw-menu-color-item-text-selected-horizontal: #1677ff;
$hw-menu-horizontal-item-selected-color: #1677ff;
$hw-menu-color-item-bg: #ffffff;
$hw-menu-item-bg: #ffffff;
$hw-menu-color-item-bg-hover: rgba(0, 0, 0, 0.06);
$hw-menu-item-hover-bg: rgba(0, 0, 0, 0.06);
$hw-menu-color-item-bg-active: rgba(0, 0, 0, 0.06);
$hw-menu-item-active-bg: #e6f4ff;
$hw-menu-color-sub-item-bg: rgba(0, 0, 0, 0.02);
$hw-menu-sub-menu-item-bg: rgba(0, 0, 0, 0.02);
$hw-menu-color-item-bg-selected: #e6f4ff;
$hw-menu-item-selected-bg: #e6f4ff;
$hw-menu-color-item-bg-selected-horizontal: transparent;
$hw-menu-horizontal-item-selected-bg: transparent;
$hw-menu-color-active-bar-width: 0px;
$hw-menu-active-bar-width: 0px;
$hw-menu-color-active-bar-height: 2px;
$hw-menu-active-bar-height: 2px;
$hw-menu-color-active-bar-border-size: 1px;
$hw-menu-active-bar-border-width: 1px;
$hw-menu-color-item-text-disabled: rgba(0, 0, 0, 0.25);
$hw-menu-item-disabled-color: rgba(0, 0, 0, 0.25);
$hw-menu-color-danger-item-text: #ff4d4f;
$hw-menu-danger-item-color: #ff4d4f;
$hw-menu-color-danger-item-text-hover: #ff4d4f;
$hw-menu-danger-item-hover-color: #ff4d4f;
$hw-menu-color-danger-item-text-selected: #ff4d4f;
$hw-menu-danger-item-selected-color: #ff4d4f;
$hw-menu-color-danger-item-bg-active: #fff2f0;
$hw-menu-danger-item-active-bg: #fff2f0;
$hw-menu-color-danger-item-bg-selected: #fff2f0;
$hw-menu-danger-item-selected-bg: #fff2f0;
$hw-menu-item-margin-inline: 4px;
$hw-menu-horizontal-item-border-radius: 0px;
$hw-menu-horizontal-item-hover-bg: transparent;
$hw-menu-item-height: 40px;
$hw-menu-group-title-line-height: 1.5714285714285714;
$hw-menu-collapsed-width: 80px;
$hw-menu-popup-bg: #ffffff;
$hw-menu-item-margin-block: 4px;
$hw-menu-item-padding-inline: 16px;
$hw-menu-horizontal-line-height: 46px;
$hw-menu-icon-size: 14px;
$hw-menu-icon-margin-inline-end: 10px;
$hw-menu-collapsed-icon-size: 16px;
$hw-menu-group-title-font-size: 14px;
$hw-menu-dark-item-disabled-color: rgba(255, 255, 255, 0.25);
$hw-menu-dark-item-color: rgba(255, 255, 255, 0.65);
$hw-menu-dark-danger-item-color: #ff4d4f;
$hw-menu-dark-item-bg: #001529;
$hw-menu-dark-popup-bg: #001529;
$hw-menu-dark-sub-menu-item-bg: #000c17;
$hw-menu-dark-item-selected-color: #fff;
$hw-menu-dark-item-selected-bg: #1677ff;
$hw-menu-dark-danger-item-selected-bg: #ff4d4f;
$hw-menu-dark-item-hover-bg: transparent;
$hw-menu-dark-group-title-color: rgba(255, 255, 255, 0.65);
$hw-menu-dark-item-hover-color: #fff;
$hw-menu-dark-danger-item-hover-color: #ff7875;
$hw-menu-dark-danger-item-selected-color: #fff;
$hw-menu-dark-danger-item-active-bg: #ff4d4f;
$hw-menu-item-width: calc(100% - 8px);

$hw-tooltip-z-index-popup: 1070;
$hw-tooltip-arrow-offset-horizontal: 12px;
$hw-tooltip-arrow-offset-vertical: 8px;
$hw-tooltip-arrow-shadow-width: 8.970562748477143px;
$hw-tooltip-arrow-path: path(
  "M 0 8 A 4 4 0 0 0 2.82842712474619 6.82842712474619 L 6.585786437626905 3.0710678118654755 A 2 2 0 0 1 9.414213562373096 3.0710678118654755 L 13.17157287525381 6.82842712474619 A 4 4 0 0 0 16 8 Z"
);
$hw-tooltip-arrow-polygon: polygon(
  1.6568542494923806px 100%,
  50% 1.6568542494923806px,
  14.34314575050762px 100%,
  1.6568542494923806px 100%
);

$hw-select-z-index-popup: 1050;
$hw-select-option-selected-color: rgba(0, 0, 0, 0.88);
$hw-select-option-selected-font-weight: 600;
$hw-select-option-selected-bg: #e6f4ff;
$hw-select-option-active-bg: rgba(0, 0, 0, 0.04);
$hw-select-option-padding: 5px 12px;
$hw-select-option-font-size: 14px;
$hw-select-option-line-height: 1.5714285714285714;
$hw-select-option-height: 32px;
$hw-select-selector-bg: #ffffff;
$hw-select-clear-bg: #ffffff;
$hw-select-single-item-height-lg: 40px;
$hw-select-multiple-item-bg: rgba(0, 0, 0, 0.06);
$hw-select-multiple-item-border-color: transparent;
$hw-select-multiple-item-height: 24px;
$hw-select-multiple-item-height-lg: 32px;
$hw-select-multiple-selector-bg-disabled: rgba(0, 0, 0, 0.04);
$hw-select-multiple-item-color-disabled: rgba(0, 0, 0, 0.25);
$hw-select-multiple-item-border-color-disabled: transparent;
$hw-select-show-arrow-padding-inline-end: 18px;

$hw-blue: #1677ff;
$hw-purple: #722ed1;
$hw-cyan: #13c2c2;
$hw-green: #52c41a;
$hw-magenta: #eb2f96;
$hw-pink: #eb2f96;
$hw-red: #f5222d;
$hw-orange: #fa8c16;
$hw-yellow: #fadb14;
$hw-volcano: #fa541c;
$hw-geekblue: #2f54eb;
$hw-gold: #faad14;
$hw-lime: #a0d911;
$hw-color-primary: #1677ff;
$hw-color-success: #52c41a;
$hw-color-warning: #faad14;
$hw-color-error: #ff4d4f;
$hw-color-info: #1677ff;
$hw-color-link: #1677ff;
$hw-color-text-base: #000;
$hw-color-bg-base: #fff;
$hw-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$hw-font-family-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo,
  Courier, monospace;
$hw-font-size: 14px;
$hw-line-width: 1px;
$hw-line-type: solid;
$hw-motion-ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
$hw-motion-ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
$hw-motion-ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
$hw-motion-ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
$hw-motion-ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
$hw-motion-ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
$hw-motion-ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$hw-motion-ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$hw-border-radius: 6px;
$hw-size-popup-arrow: 16px;
$hw-control-height: 32px;
$hw-z-index-base: 0;
$hw-z-index-popup-base: 1000;
$hw-opacity-image: 1px;
$hw-blue-1: #e6f4ff;
$hw-blue-2: #bae0ff;
$hw-blue-3: #91caff;
$hw-blue-4: #69b1ff;
$hw-blue-5: #4096ff;
$hw-blue-6: #1677ff;
$hw-blue-7: #0958d9;
$hw-blue-8: #003eb3;
$hw-blue-9: #002c8c;
$hw-blue-10: #001d66;
$hw-purple-1: #f9f0ff;
$hw-purple-2: #efdbff;
$hw-purple-3: #d3adf7;
$hw-purple-4: #b37feb;
$hw-purple-5: #9254de;
$hw-purple-6: #722ed1;
$hw-purple-7: #531dab;
$hw-purple-8: #391085;
$hw-purple-9: #22075e;
$hw-purple-10: #120338;
$hw-cyan-1: #e6fffb;
$hw-cyan-2: #b5f5ec;
$hw-cyan-3: #87e8de;
$hw-cyan-4: #5cdbd3;
$hw-cyan-5: #36cfc9;
$hw-cyan-6: #13c2c2;
$hw-cyan-7: #08979c;
$hw-cyan-8: #006d75;
$hw-cyan-9: #00474f;
$hw-cyan-10: #002329;
$hw-green-1: #f6ffed;
$hw-green-2: #d9f7be;
$hw-green-3: #b7eb8f;
$hw-green-4: #95de64;
$hw-green-5: #73d13d;
$hw-green-6: #52c41a;
$hw-green-7: #389e0d;
$hw-green-8: #237804;
$hw-green-9: #135200;
$hw-green-10: #092b00;
$hw-magenta-1: #fff0f6;
$hw-magenta-2: #ffd6e7;
$hw-magenta-3: #ffadd2;
$hw-magenta-4: #ff85c0;
$hw-magenta-5: #f759ab;
$hw-magenta-6: #eb2f96;
$hw-magenta-7: #c41d7f;
$hw-magenta-8: #9e1068;
$hw-magenta-9: #780650;
$hw-magenta-10: #520339;
$hw-pink-1: #fff0f6;
$hw-pink-2: #ffd6e7;
$hw-pink-3: #ffadd2;
$hw-pink-4: #ff85c0;
$hw-pink-5: #f759ab;
$hw-pink-6: #eb2f96;
$hw-pink-7: #c41d7f;
$hw-pink-8: #9e1068;
$hw-pink-9: #780650;
$hw-pink-10: #520339;
$hw-red-1: #fff1f0;
$hw-red-2: #ffccc7;
$hw-red-3: #ffa39e;
$hw-red-4: #ff7875;
$hw-red-5: #ff4d4f;
$hw-red-6: #f5222d;
$hw-red-7: #cf1322;
$hw-red-8: #a8071a;
$hw-red-9: #820014;
$hw-red-10: #5c0011;
$hw-orange-1: #fff7e6;
$hw-orange-2: #ffe7ba;
$hw-orange-3: #ffd591;
$hw-orange-4: #ffc069;
$hw-orange-5: #ffa940;
$hw-orange-6: #fa8c16;
$hw-orange-7: #d46b08;
$hw-orange-8: #ad4e00;
$hw-orange-9: #873800;
$hw-orange-10: #612500;
$hw-yellow-1: #feffe6;
$hw-yellow-2: #ffffb8;
$hw-yellow-3: #fffb8f;
$hw-yellow-4: #fff566;
$hw-yellow-5: #ffec3d;
$hw-yellow-6: #fadb14;
$hw-yellow-7: #d4b106;
$hw-yellow-8: #ad8b00;
$hw-yellow-9: #876800;
$hw-yellow-10: #614700;
$hw-volcano-1: #fff2e8;
$hw-volcano-2: #ffd8bf;
$hw-volcano-3: #ffbb96;
$hw-volcano-4: #ff9c6e;
$hw-volcano-5: #ff7a45;
$hw-volcano-6: #fa541c;
$hw-volcano-7: #d4380d;
$hw-volcano-8: #ad2102;
$hw-volcano-9: #871400;
$hw-volcano-10: #610b00;
$hw-geekblue-1: #f0f5ff;
$hw-geekblue-2: #d6e4ff;
$hw-geekblue-3: #adc6ff;
$hw-geekblue-4: #85a5ff;
$hw-geekblue-5: #597ef7;
$hw-geekblue-6: #2f54eb;
$hw-geekblue-7: #1d39c4;
$hw-geekblue-8: #10239e;
$hw-geekblue-9: #061178;
$hw-geekblue-10: #030852;
$hw-gold-1: #fffbe6;
$hw-gold-2: #fff1b8;
$hw-gold-3: #ffe58f;
$hw-gold-4: #ffd666;
$hw-gold-5: #ffc53d;
$hw-gold-6: #faad14;
$hw-gold-7: #d48806;
$hw-gold-8: #ad6800;
$hw-gold-9: #874d00;
$hw-gold-10: #613400;
$hw-lime-1: #fcffe6;
$hw-lime-2: #f4ffb8;
$hw-lime-3: #eaff8f;
$hw-lime-4: #d3f261;
$hw-lime-5: #bae637;
$hw-lime-6: #a0d911;
$hw-lime-7: #7cb305;
$hw-lime-8: #5b8c00;
$hw-lime-9: #3f6600;
$hw-lime-10: #254000;
$hw-color-text: rgba(0, 0, 0, 0.88);
$hw-color-text-secondary: rgba(0, 0, 0, 0.65);
$hw-color-text-tertiary: rgba(0, 0, 0, 0.45);
$hw-color-text-quaternary: rgba(0, 0, 0, 0.25);
$hw-color-fill: rgba(0, 0, 0, 0.15);
$hw-color-fill-secondary: rgba(0, 0, 0, 0.06);
$hw-color-fill-tertiary: rgba(0, 0, 0, 0.04);
$hw-color-fill-quaternary: rgba(0, 0, 0, 0.02);
$hw-color-bg-layout: #f5f5f5;
$hw-color-bg-container: #ffffff;
$hw-color-bg-elevated: #ffffff;
$hw-color-bg-spotlight: rgba(0, 0, 0, 0.85);
$hw-color-bg-blur: transparent;
$hw-color-border: #d9d9d9;
$hw-color-border-secondary: #f0f0f0;
$hw-color-primary-bg: #e6f4ff;
$hw-color-primary-bg-hover: #bae0ff;
$hw-color-primary-border: #91caff;
$hw-color-primary-border-hover: #69b1ff;
$hw-color-primary-hover: #4096ff;
$hw-color-primary-active: #0958d9;
$hw-color-primary-text-hover: #4096ff;
$hw-color-primary-text: #1677ff;
$hw-color-primary-text-active: #0958d9;
$hw-color-success-bg: #f6ffed;
$hw-color-success-bg-hover: #d9f7be;
$hw-color-success-border: #b7eb8f;
$hw-color-success-border-hover: #95de64;
$hw-color-success-hover: #95de64;
$hw-color-success-active: #389e0d;
$hw-color-success-text-hover: #73d13d;
$hw-color-success-text: #52c41a;
$hw-color-success-text-active: #389e0d;
$hw-color-error-bg: #fff2f0;
$hw-color-error-bg-hover: #fff1f0;
$hw-color-error-border: #ffccc7;
$hw-color-error-border-hover: #ffa39e;
$hw-color-error-hover: #ff7875;
$hw-color-error-active: #d9363e;
$hw-color-error-text-hover: #ff7875;
$hw-color-error-text: #ff4d4f;
$hw-color-error-text-active: #d9363e;
$hw-color-warning-bg: #fffbe6;
$hw-color-warning-bg-hover: #fff1b8;
$hw-color-warning-border: #ffe58f;
$hw-color-warning-border-hover: #ffd666;
$hw-color-warning-hover: #ffd666;
$hw-color-warning-active: #d48806;
$hw-color-warning-text-hover: #ffc53d;
$hw-color-warning-text: #faad14;
$hw-color-warning-text-active: #d48806;
$hw-color-info-bg: #e6f4ff;
$hw-color-info-bg-hover: #bae0ff;
$hw-color-info-border: #91caff;
$hw-color-info-border-hover: #69b1ff;
$hw-color-info-hover: #69b1ff;
$hw-color-info-active: #0958d9;
$hw-color-info-text-hover: #4096ff;
$hw-color-info-text: #1677ff;
$hw-color-info-text-active: #0958d9;
$hw-color-link-hover: #69b1ff;
$hw-color-link-active: #0958d9;
$hw-color-bg-mask: rgba(0, 0, 0, 0.45);
$hw-color-white: #fff;
$hw-font-size-sm: 12px;
$hw-font-size-lg: 16px;
$hw-font-size-xl: 20px;
$hw-font-size-heading-1: 38px;
$hw-font-size-heading-2: 30px;
$hw-font-size-heading-3: 24px;
$hw-font-size-heading-4: 20px;
$hw-font-size-heading-5: 16px;
$hw-line-height: 1.5714285714285714;
$hw-line-height-lg: 1.5;
$hw-line-height-sm: 1.6666666666666667;
$hw-font-height: 22px;
$hw-font-height-lg: 24px;
$hw-font-height-sm: 20px;
$hw-line-height-heading-1: 1.2105263157894737;
$hw-line-height-heading-2: 1.2666666666666666;
$hw-line-height-heading-3: 1.3333333333333333;
$hw-line-height-heading-4: 1.4;
$hw-line-height-heading-5: 1.5;
$hw-control-height-sm: 24px;
$hw-control-height-xs: 16px;
$hw-control-height-lg: 40px;
$hw-motion-duration-fast: 0.1s;
$hw-motion-duration-mid: 0.2s;
$hw-motion-duration-slow: 0.3s;
$hw-line-width-bold: 2px;
$hw-border-radius-xs: 2px;
$hw-border-radius-sm: 4px;
$hw-border-radius-lg: 8px;
$hw-border-radius-outer: 4px;
$hw-color-fill-content: rgba(0, 0, 0, 0.06);
$hw-color-fill-content-hover: rgba(0, 0, 0, 0.15);
$hw-color-fill-alter: rgba(0, 0, 0, 0.02);
$hw-color-bg-container-disabled: rgba(0, 0, 0, 0.04);
$hw-color-border-bg: #ffffff;
$hw-color-split: rgba(5, 5, 5, 0.06);
$hw-color-text-placeholder: rgba(0, 0, 0, 0.25);
$hw-color-text-disabled: rgba(0, 0, 0, 0.25);
$hw-color-text-heading: rgba(0, 0, 0, 0.88);
$hw-color-text-label: rgba(0, 0, 0, 0.65);
$hw-color-text-description: rgba(0, 0, 0, 0.45);
$hw-color-text-light-solid: #fff;
$hw-color-highlight: #ff4d4f;
$hw-color-bg-text-hover: rgba(0, 0, 0, 0.06);
$hw-color-bg-text-active: rgba(0, 0, 0, 0.15);
$hw-color-icon: rgba(0, 0, 0, 0.45);
$hw-color-icon-hover: rgba(0, 0, 0, 0.88);
$hw-color-error-outline: rgba(255, 38, 5, 0.06);
$hw-color-warning-outline: rgba(255, 215, 5, 0.1);
$hw-font-size-icon: 12px;
$hw-line-width-focus: 4px;
$hw-control-outline-width: 2px;
$hw-control-interactive-size: 16px;
$hw-control-item-bg-hover: rgba(0, 0, 0, 0.04);
$hw-control-item-bg-active: #e6f4ff;
$hw-control-item-bg-active-hover: #bae0ff;
$hw-control-item-bg-active-disabled: rgba(0, 0, 0, 0.15);
$hw-control-tmp-outline: rgba(0, 0, 0, 0.02);
$hw-control-outline: rgba(5, 145, 255, 0.1);
$hw-font-weight-strong: 600;
$hw-opacity-loading: 0.65;
$hw-link-decoration: none;
$hw-link-hover-decoration: none;
$hw-link-focus-decoration: none;
$hw-control-padding-horizontal: 12px;
$hw-control-padding-horizontal-sm: 8px;
$hw-padding-xxs: 4px;
$hw-padding-xs: 8px;
$hw-padding-sm: 12px;
$hw-padding: 16px;
$hw-padding-md: 20px;
$hw-padding-lg: 24px;
$hw-padding-xl: 32px;
$hw-padding-content-horizontal-lg: 24px;
$hw-padding-content-vertical-lg: 16px;
$hw-padding-content-horizontal: 16px;
$hw-padding-content-vertical: 12px;
$hw-padding-content-horizontal-sm: 16px;
$hw-padding-content-vertical-sm: 8px;
$hw-margin-xxs: 4px;
$hw-margin-xs: 8px;
$hw-margin-sm: 12px;
$hw-margin: 16px;
$hw-margin-md: 20px;
$hw-margin-lg: 24px;
$hw-margin-xl: 32px;
$hw-margin-xxl: 48px;
$hw-box-shadow:
  0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);
$hw-box-shadow-secondary:
  0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);
$hw-box-shadow-tertiary:
  0 1px 2px 0 rgba(0, 0, 0, 0.03),
  0 1px 6px -1px rgba(0, 0, 0, 0.02),
  0 2px 4px 0 rgba(0, 0, 0, 0.02);
$hw-box-shadow-popover-arrow: 2px 2px 5px rgba(0, 0, 0, 0.05);
$hw-box-shadow-card:
  0 1px 2px -2px rgba(0, 0, 0, 0.16),
  0 3px 6px 0 rgba(0, 0, 0, 0.12),
  0 5px 12px 4px rgba(0, 0, 0, 0.09);
$hw-box-shadow-drawer-right:
  -6px 0 16px 0 rgba(0, 0, 0, 0.08),
  -3px 0 6px -4px rgba(0, 0, 0, 0.12),
  -9px 0 28px 8px rgba(0, 0, 0, 0.05);
$hw-box-shadow-drawer-left:
  6px 0 16px 0 rgba(0, 0, 0, 0.08),
  3px 0 6px -4px rgba(0, 0, 0, 0.12),
  9px 0 28px 8px rgba(0, 0, 0, 0.05);
$hw-box-shadow-drawer-up:
  0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);
$hw-box-shadow-drawer-down:
  0 -6px 16px 0 rgba(0, 0, 0, 0.08),
  0 -3px 6px -4px rgba(0, 0, 0, 0.12),
  0 -9px 28px 8px rgba(0, 0, 0, 0.05);
$hw-box-shadow-tabs-overflow-left: inset 10px 0 8px -8px rgba(0, 0, 0, 0.08);
$hw-box-shadow-tabs-overflow-right: inset -10px 0 8px -8px rgba(0, 0, 0, 0.08);
$hw-box-shadow-tabs-overflow-top: inset 0 10px 8px -8px rgba(0, 0, 0, 0.08);
$hw-box-shadow-tabs-overflow-bottom: inset 0 -10px 8px -8px rgba(0, 0, 0, 0.08);

$hw-menu-dropdown-width: 160px;
$hw-menu-z-index-popup: 1050;
$hw-menu-radius-item: 8px;
$hw-menu-item-border-radius: 8px;
$hw-menu-radius-sub-menu-item: 4px;
$hw-menu-sub-menu-item-border-radius: 4px;
$hw-menu-color-item-text: rgba(0, 0, 0, 0.88);
$hw-menu-item-color: rgba(0, 0, 0, 0.88);
$hw-menu-color-item-text-hover: rgba(0, 0, 0, 0.88);
$hw-menu-item-hover-color: rgba(0, 0, 0, 0.88);
$hw-menu-color-item-text-hover-horizontal: #1677ff;
$hw-menu-horizontal-item-hover-color: #1677ff;
$hw-menu-color-group-title: rgba(0, 0, 0, 0.45);
$hw-menu-group-title-color: rgba(0, 0, 0, 0.45);
$hw-menu-color-item-text-selected: #1677ff;
$hw-menu-item-selected-color: #1677ff;
$hw-menu-color-item-text-selected-horizontal: #1677ff;
$hw-menu-horizontal-item-selected-color: #1677ff;
$hw-menu-color-item-bg: #ffffff;
$hw-menu-item-bg: #ffffff;
$hw-menu-color-item-bg-hover: rgba(0, 0, 0, 0.06);
$hw-menu-item-hover-bg: rgba(0, 0, 0, 0.06);
$hw-menu-color-item-bg-active: rgba(0, 0, 0, 0.06);
$hw-menu-item-active-bg: #e6f4ff;
$hw-menu-color-sub-item-bg: rgba(0, 0, 0, 0.02);
$hw-menu-sub-menu-item-bg: rgba(0, 0, 0, 0.02);
$hw-menu-color-item-bg-selected: #e6f4ff;
$hw-menu-item-selected-bg: #e6f4ff;
$hw-menu-color-item-bg-selected-horizontal: transparent;
$hw-menu-horizontal-item-selected-bg: transparent;
$hw-menu-color-active-bar-width: 0px;
$hw-menu-active-bar-width: 0px;
$hw-menu-color-active-bar-height: 2px;
$hw-menu-active-bar-height: 2px;
$hw-menu-color-active-bar-border-size: 1px;
$hw-menu-active-bar-border-width: 1px;
$hw-menu-color-item-text-disabled: rgba(0, 0, 0, 0.25);
$hw-menu-item-disabled-color: rgba(0, 0, 0, 0.25);
$hw-menu-color-danger-item-text: #ff4d4f;
$hw-menu-danger-item-color: #ff4d4f;
$hw-menu-color-danger-item-text-hover: #ff4d4f;
$hw-menu-danger-item-hover-color: #ff4d4f;
$hw-menu-color-danger-item-text-selected: #ff4d4f;
$hw-menu-danger-item-selected-color: #ff4d4f;
$hw-menu-color-danger-item-bg-active: #fff2f0;
$hw-menu-danger-item-active-bg: #fff2f0;
$hw-menu-color-danger-item-bg-selected: #fff2f0;
$hw-menu-danger-item-selected-bg: #fff2f0;
$hw-menu-item-margin-inline: 4px;
$hw-menu-horizontal-item-border-radius: 0px;
$hw-menu-horizontal-item-hover-bg: transparent;
$hw-menu-item-height: 40px;
$hw-menu-group-title-line-height: 1.5714285714285714;
$hw-menu-collapsed-width: 80px;
$hw-menu-popup-bg: #ffffff;
$hw-menu-item-margin-block: 4px;
$hw-menu-item-padding-inline: 16px;
$hw-menu-horizontal-line-height: 46px;
$hw-menu-icon-size: 14px;
$hw-menu-icon-margin-inline-end: 10px;
$hw-menu-collapsed-icon-size: 16px;
$hw-menu-group-title-font-size: 14px;
$hw-menu-dark-item-disabled-color: rgba(255, 255, 255, 0.25);
$hw-menu-dark-item-color: rgba(255, 255, 255, 0.65);
$hw-menu-dark-danger-item-color: #ff4d4f;
$hw-menu-dark-item-bg: #ffffff;
$hw-menu-dark-popup-bg: #001529;
$hw-menu-dark-sub-menu-item-bg: #000c17;
$hw-menu-dark-item-selected-color: #fff;
$hw-menu-dark-item-selected-bg: #1677ff;
$hw-menu-dark-danger-item-selected-bg: #ff4d4f;
$hw-menu-dark-item-hover-bg: transparent;
$hw-menu-dark-group-title-color: rgba(255, 255, 255, 0.65);
$hw-menu-dark-item-hover-color: #fff;
$hw-menu-dark-danger-item-hover-color: #ff7875;
$hw-menu-dark-danger-item-selected-color: #fff;
$hw-menu-dark-danger-item-active-bg: #ff4d4f;
$hw-menu-item-width: calc(100% - 8px);

$hw-tooltip-z-index-popup: 1070;
$hw-tooltip-arrow-offset-horizontal: 12px;
$hw-tooltip-arrow-offset-vertical: 8px;
$hw-tooltip-arrow-shadow-width: 8.970562748477143px;
$hw-tooltip-arrow-path: path(
  "M 0 8 A 4 4 0 0 0 2.82842712474619 6.82842712474619 L 6.585786437626905 3.0710678118654755 A 2 2 0 0 1 9.414213562373096 3.0710678118654755 L 13.17157287525381 6.82842712474619 A 4 4 0 0 0 16 8 Z"
);
$hw-tooltip-arrow-polygon: polygon(
  1.6568542494923806px 100%,
  50% 1.6568542494923806px,
  14.34314575050762px 100%,
  1.6568542494923806px 100%
);

$hw-tag-default-bg: #fafafa;
$hw-tag-default-color: rgba(0, 0, 0, 0.88);

$hw-typography-title-margin-top: 1.2em;
$hw-typography-title-margin-bottom: 0.5em;

$hw-skeleton-color: rgba(0, 0, 0, 0.06);
$hw-skeleton-color-gradient-end: rgba(0, 0, 0, 0.15);
$hw-skeleton-gradient-from-color: rgba(0, 0, 0, 0.06);
$hw-skeleton-gradient-to-color: rgba(0, 0, 0, 0.15);
$hw-skeleton-title-height: 16px;
$hw-skeleton-block-radius: 4px;
$hw-skeleton-paragraph-margin-top: 28px;
$hw-skeleton-paragraph-li-height: 16px;

$hw-blue: #1677ff;
$hw-purple: #722ed1;
$hw-cyan: #13c2c2;
$hw-green: #52c41a;
$hw-magenta: #eb2f96;
$hw-pink: #eb2f96;
$hw-red: #f5222d;
$hw-orange: #fa8c16;
$hw-yellow: #fadb14;
$hw-volcano: #fa541c;
$hw-geekblue: #2f54eb;
$hw-gold: #faad14;
$hw-lime: #a0d911;
$hw-color-primary: #1677ff;
$hw-color-success: #52c41a;
$hw-color-warning: #faad14;
$hw-color-error: #ff4d4f;
$hw-color-info: #1677ff;
$hw-color-link: #1677ff;
$hw-color-text-base: #000;
$hw-color-bg-base: #fff;
$hw-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$hw-font-family-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo,
  Courier, monospace;
$hw-font-size: 14px;
$hw-line-width: 1px;
$hw-line-type: solid;
$hw-motion-ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
$hw-motion-ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
$hw-motion-ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
$hw-motion-ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
$hw-motion-ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
$hw-motion-ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
$hw-motion-ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$hw-motion-ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$hw-border-radius: 6px;
$hw-size-popup-arrow: 16px;
$hw-control-height: 32px;
$hw-z-index-base: 0;
$hw-z-index-popup-base: 1000;
$hw-opacity-image: 1px;
$hw-blue-1: #e6f4ff;
$hw-blue-2: #bae0ff;
$hw-blue-3: #91caff;
$hw-blue-4: #69b1ff;
$hw-blue-5: #4096ff;
$hw-blue-6: #1677ff;
$hw-blue-7: #0958d9;
$hw-blue-8: #003eb3;
$hw-blue-9: #002c8c;
$hw-blue-10: #001d66;
$hw-purple-1: #f9f0ff;
$hw-purple-2: #efdbff;
$hw-purple-3: #d3adf7;
$hw-purple-4: #b37feb;
$hw-purple-5: #9254de;
$hw-purple-6: #722ed1;
$hw-purple-7: #531dab;
$hw-purple-8: #391085;
$hw-purple-9: #22075e;
$hw-purple-10: #120338;
$hw-cyan-1: #e6fffb;
$hw-cyan-2: #b5f5ec;
$hw-cyan-3: #87e8de;
$hw-cyan-4: #5cdbd3;
$hw-cyan-5: #36cfc9;
$hw-cyan-6: #13c2c2;
$hw-cyan-7: #08979c;
$hw-cyan-8: #006d75;
$hw-cyan-9: #00474f;
$hw-cyan-10: #002329;
$hw-green-1: #f6ffed;
$hw-green-2: #d9f7be;
$hw-green-3: #b7eb8f;
$hw-green-4: #95de64;
$hw-green-5: #73d13d;
$hw-green-6: #52c41a;
$hw-green-7: #389e0d;
$hw-green-8: #237804;
$hw-green-9: #135200;
$hw-green-10: #092b00;
$hw-magenta-1: #fff0f6;
$hw-magenta-2: #ffd6e7;
$hw-magenta-3: #ffadd2;
$hw-magenta-4: #ff85c0;
$hw-magenta-5: #f759ab;
$hw-magenta-6: #eb2f96;
$hw-magenta-7: #c41d7f;
$hw-magenta-8: #9e1068;
$hw-magenta-9: #780650;
$hw-magenta-10: #520339;
$hw-pink-1: #fff0f6;
$hw-pink-2: #ffd6e7;
$hw-pink-3: #ffadd2;
$hw-pink-4: #ff85c0;
$hw-pink-5: #f759ab;
$hw-pink-6: #eb2f96;
$hw-pink-7: #c41d7f;
$hw-pink-8: #9e1068;
$hw-pink-9: #780650;
$hw-pink-10: #520339;
$hw-red-1: #fff1f0;
$hw-red-2: #ffccc7;
$hw-red-3: #ffa39e;
$hw-red-4: #ff7875;
$hw-red-5: #ff4d4f;
$hw-red-6: #f5222d;
$hw-red-7: #cf1322;
$hw-red-8: #a8071a;
$hw-red-9: #820014;
$hw-red-10: #5c0011;
$hw-orange-1: #fff7e6;
$hw-orange-2: #ffe7ba;
$hw-orange-3: #ffd591;
$hw-orange-4: #ffc069;
$hw-orange-5: #ffa940;
$hw-orange-6: #fa8c16;
$hw-orange-7: #d46b08;
$hw-orange-8: #ad4e00;
$hw-orange-9: #873800;
$hw-orange-10: #612500;
$hw-yellow-1: #feffe6;
$hw-yellow-2: #ffffb8;
$hw-yellow-3: #fffb8f;
$hw-yellow-4: #fff566;
$hw-yellow-5: #ffec3d;
$hw-yellow-6: #fadb14;
$hw-yellow-7: #d4b106;
$hw-yellow-8: #ad8b00;
$hw-yellow-9: #876800;
$hw-yellow-10: #614700;
$hw-volcano-1: #fff2e8;
$hw-volcano-2: #ffd8bf;
$hw-volcano-3: #ffbb96;
$hw-volcano-4: #ff9c6e;
$hw-volcano-5: #ff7a45;
$hw-volcano-6: #fa541c;
$hw-volcano-7: #d4380d;
$hw-volcano-8: #ad2102;
$hw-volcano-9: #871400;
$hw-volcano-10: #610b00;
$hw-geekblue-1: #f0f5ff;
$hw-geekblue-2: #d6e4ff;
$hw-geekblue-3: #adc6ff;
$hw-geekblue-4: #85a5ff;
$hw-geekblue-5: #597ef7;
$hw-geekblue-6: #2f54eb;
$hw-geekblue-7: #1d39c4;
$hw-geekblue-8: #10239e;
$hw-geekblue-9: #061178;
$hw-geekblue-10: #030852;
$hw-gold-1: #fffbe6;
$hw-gold-2: #fff1b8;
$hw-gold-3: #ffe58f;
$hw-gold-4: #ffd666;
$hw-gold-5: #ffc53d;
$hw-gold-6: #faad14;
$hw-gold-7: #d48806;
$hw-gold-8: #ad6800;
$hw-gold-9: #874d00;
$hw-gold-10: #613400;
$hw-lime-1: #fcffe6;
$hw-lime-2: #f4ffb8;
$hw-lime-3: #eaff8f;
$hw-lime-4: #d3f261;
$hw-lime-5: #bae637;
$hw-lime-6: #a0d911;
$hw-lime-7: #7cb305;
$hw-lime-8: #5b8c00;
$hw-lime-9: #3f6600;
$hw-lime-10: #254000;
$hw-color-text: rgba(0, 0, 0, 0.88);
$hw-color-text-secondary: rgba(0, 0, 0, 0.65);
$hw-color-text-tertiary: rgba(0, 0, 0, 0.45);
$hw-color-text-quaternary: rgba(0, 0, 0, 0.25);
$hw-color-fill: rgba(0, 0, 0, 0.15);
$hw-color-fill-secondary: rgba(0, 0, 0, 0.06);
$hw-color-fill-tertiary: rgba(0, 0, 0, 0.04);
$hw-color-fill-quaternary: rgba(0, 0, 0, 0.02);
$hw-color-bg-layout: #f5f5f5;
$hw-color-bg-container: #ffffff;
$hw-color-bg-elevated: #ffffff;
$hw-color-bg-spotlight: rgba(0, 0, 0, 0.85);
$hw-color-bg-blur: transparent;
$hw-color-border: #d9d9d9;
$hw-color-border-secondary: #f0f0f0;
$hw-color-primary-bg: #e6f4ff;
$hw-color-primary-bg-hover: #bae0ff;
$hw-color-primary-border: #91caff;
$hw-color-primary-border-hover: #69b1ff;
$hw-color-primary-hover: #4096ff;
$hw-color-primary-active: #0958d9;
$hw-color-primary-text-hover: #4096ff;
$hw-color-primary-text: #1677ff;
$hw-color-primary-text-active: #0958d9;
$hw-color-success-bg: #f6ffed;
$hw-color-success-bg-hover: #d9f7be;
$hw-color-success-border: #b7eb8f;
$hw-color-success-border-hover: #95de64;
$hw-color-success-hover: #95de64;
$hw-color-success-active: #389e0d;
$hw-color-success-text-hover: #73d13d;
$hw-color-success-text: #52c41a;
$hw-color-success-text-active: #389e0d;
$hw-color-error-bg: #fff2f0;
$hw-color-error-bg-hover: #fff1f0;
$hw-color-error-border: #ffccc7;
$hw-color-error-border-hover: #ffa39e;
$hw-color-error-hover: #ff7875;
$hw-color-error-active: #d9363e;
$hw-color-error-text-hover: #ff7875;
$hw-color-error-text: #ff4d4f;
$hw-color-error-text-active: #d9363e;
$hw-color-warning-bg: #fffbe6;
$hw-color-warning-bg-hover: #fff1b8;
$hw-color-warning-border: #ffe58f;
$hw-color-warning-border-hover: #ffd666;
$hw-color-warning-hover: #ffd666;
$hw-color-warning-active: #d48806;
$hw-color-warning-text-hover: #ffc53d;
$hw-color-warning-text: #faad14;
$hw-color-warning-text-active: #d48806;
$hw-color-info-bg: #e6f4ff;
$hw-color-info-bg-hover: #bae0ff;
$hw-color-info-border: #91caff;
$hw-color-info-border-hover: #69b1ff;
$hw-color-info-hover: #69b1ff;
$hw-color-info-active: #0958d9;
$hw-color-info-text-hover: #4096ff;
$hw-color-info-text: #1677ff;
$hw-color-info-text-active: #0958d9;
$hw-color-link-hover: #69b1ff;
$hw-color-link-active: #0958d9;
$hw-color-bg-mask: rgba(0, 0, 0, 0.45);
$hw-color-white: #fff;
$hw-font-size-sm: 12px;
$hw-font-size-lg: 16px;
$hw-font-size-xl: 20px;
$hw-font-size-heading-1: 38px;
$hw-font-size-heading-2: 30px;
$hw-font-size-heading-3: 24px;
$hw-font-size-heading-4: 20px;
$hw-font-size-heading-5: 16px;
$hw-line-height: 1.5714285714285714;
$hw-line-height-lg: 1.5;
$hw-line-height-sm: 1.6666666666666667;
$hw-font-height: 22px;
$hw-font-height-lg: 24px;
$hw-font-height-sm: 20px;
$hw-line-height-heading-1: 1.2105263157894737;
$hw-line-height-heading-2: 1.2666666666666666;
$hw-line-height-heading-3: 1.3333333333333333;
$hw-line-height-heading-4: 1.4;
$hw-line-height-heading-5: 1.5;
$hw-control-height-sm: 24px;
$hw-control-height-xs: 16px;
$hw-control-height-lg: 40px;
$hw-motion-duration-fast: 0.1s;
$hw-motion-duration-mid: 0.2s;
$hw-motion-duration-slow: 0.3s;
$hw-line-width-bold: 2px;
$hw-border-radius-xs: 2px;
$hw-border-radius-sm: 4px;
$hw-border-radius-lg: 8px;
$hw-border-radius-outer: 4px;
$hw-color-fill-content: rgba(0, 0, 0, 0.06);
$hw-color-fill-content-hover: rgba(0, 0, 0, 0.15);
$hw-color-fill-alter: rgba(0, 0, 0, 0.02);
$hw-color-bg-container-disabled: rgba(0, 0, 0, 0.04);
$hw-color-border-bg: #ffffff;
$hw-color-split: rgba(5, 5, 5, 0.06);
$hw-color-text-placeholder: rgba(0, 0, 0, 0.25);
$hw-color-text-disabled: rgba(0, 0, 0, 0.25);
$hw-color-text-heading: rgba(0, 0, 0, 0.88);
$hw-color-text-label: rgba(0, 0, 0, 0.65);
$hw-color-text-description: rgba(0, 0, 0, 0.45);
$hw-color-text-light-solid: #fff;
$hw-color-highlight: #ff4d4f;
$hw-color-bg-text-hover: rgba(0, 0, 0, 0.06);
$hw-color-bg-text-active: rgba(0, 0, 0, 0.15);
$hw-color-icon: rgba(0, 0, 0, 0.45);
$hw-color-icon-hover: rgba(0, 0, 0, 0.88);
$hw-color-error-outline: rgba(255, 38, 5, 0.06);
$hw-color-warning-outline: rgba(255, 215, 5, 0.1);
$hw-font-size-icon: 12px;
$hw-line-width-focus: 4px;
$hw-control-outline-width: 2px;
$hw-control-interactive-size: 16px;
$hw-control-item-bg-hover: rgba(0, 0, 0, 0.04);
$hw-control-item-bg-active: #e6f4ff;
$hw-control-item-bg-active-hover: #bae0ff;
$hw-control-item-bg-active-disabled: rgba(0, 0, 0, 0.15);
$hw-control-tmp-outline: rgba(0, 0, 0, 0.02);
$hw-control-outline: rgba(5, 145, 255, 0.1);
$hw-font-weight-strong: 600;
$hw-opacity-loading: 0.65;
$hw-link-decoration: none;
$hw-link-hover-decoration: none;
$hw-link-focus-decoration: none;
$hw-control-padding-horizontal: 12px;
$hw-control-padding-horizontal-sm: 8px;
$hw-padding-xxs: 4px;
$hw-padding-xs: 8px;
$hw-padding-sm: 12px;
$hw-padding: 16px;
$hw-padding-md: 20px;
$hw-padding-lg: 24px;
$hw-padding-xl: 32px;
$hw-padding-content-horizontal-lg: 24px;
$hw-padding-content-vertical-lg: 16px;
$hw-padding-content-horizontal: 16px;
$hw-padding-content-vertical: 12px;
$hw-padding-content-horizontal-sm: 16px;
$hw-padding-content-vertical-sm: 8px;
$hw-margin-xxs: 4px;
$hw-margin-xs: 8px;
$hw-margin-sm: 12px;
$hw-margin: 16px;
$hw-margin-md: 20px;
$hw-margin-lg: 24px;
$hw-margin-xl: 32px;
$hw-margin-xxl: 48px;
$hw-box-shadow:
  0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);
$hw-box-shadow-secondary:
  0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);
$hw-box-shadow-tertiary:
  0 1px 2px 0 rgba(0, 0, 0, 0.03),
  0 1px 6px -1px rgba(0, 0, 0, 0.02),
  0 2px 4px 0 rgba(0, 0, 0, 0.02);
$hw-box-shadow-popover-arrow: 2px 2px 5px rgba(0, 0, 0, 0.05);
$hw-box-shadow-card:
  0 1px 2px -2px rgba(0, 0, 0, 0.16),
  0 3px 6px 0 rgba(0, 0, 0, 0.12),
  0 5px 12px 4px rgba(0, 0, 0, 0.09);
$hw-box-shadow-drawer-right:
  -6px 0 16px 0 rgba(0, 0, 0, 0.08),
  -3px 0 6px -4px rgba(0, 0, 0, 0.12),
  -9px 0 28px 8px rgba(0, 0, 0, 0.05);
$hw-box-shadow-drawer-left:
  6px 0 16px 0 rgba(0, 0, 0, 0.08),
  3px 0 6px -4px rgba(0, 0, 0, 0.12),
  9px 0 28px 8px rgba(0, 0, 0, 0.05);
$hw-box-shadow-drawer-up:
  0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);
$hw-box-shadow-drawer-down:
  0 -6px 16px 0 rgba(0, 0, 0, 0.08),
  0 -3px 6px -4px rgba(0, 0, 0, 0.12),
  0 -9px 28px 8px rgba(0, 0, 0, 0.05);
$hw-box-shadow-tabs-overflow-left: inset 10px 0 8px -8px rgba(0, 0, 0, 0.08);
$hw-box-shadow-tabs-overflow-right: inset -10px 0 8px -8px rgba(0, 0, 0, 0.08);
$hw-box-shadow-tabs-overflow-top: inset 0 10px 8px -8px rgba(0, 0, 0, 0.08);
$hw-box-shadow-tabs-overflow-bottom: inset 0 -10px 8px -8px rgba(0, 0, 0, 0.08);

$hw-button-font-weight: 400;
$hw-button-default-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
$hw-button-primary-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
$hw-button-danger-shadow: 0 2px 0 rgba(255, 38, 5, 0.06);
$hw-button-primary-color: #fff;
$hw-button-danger-color: #fff;
$hw-button-border-color-disabled: #d9d9d9;
$hw-button-default-ghost-color: #ffffff;
$hw-button-ghost-bg: transparent;
$hw-button-default-ghost-border-color: #ffffff;
$hw-button-padding-inline: 15px;
$hw-button-padding-inline-lg: 15px;
$hw-button-padding-inline-sm: 7px;
$hw-button-only-icon-size: 16px;
$hw-button-only-icon-size-sm: 14px;
$hw-button-only-icon-size-lg: 18px;
$hw-button-group-border-color: #4096ff;
$hw-button-link-hover-bg: transparent;
$hw-button-text-hover-bg: rgba(0, 0, 0, 0.06);
$hw-button-default-color: rgba(0, 0, 0, 0.88);
$hw-button-default-bg: #ffffff;
$hw-button-default-border-color: #d9d9d9;
$hw-button-default-border-color-disabled: #d9d9d9;
$hw-button-default-hover-bg: #ffffff;
$hw-button-default-hover-color: #4096ff;
$hw-button-default-hover-border-color: #4096ff;
$hw-button-default-active-bg: #ffffff;
$hw-button-default-active-color: #0958d9;
$hw-button-default-active-border-color: #0958d9;
$hw-button-content-font-size: 14px;
$hw-button-content-font-size-sm: 14px;
$hw-button-content-font-size-lg: 16px;
$hw-button-content-line-height: 1.5714285714285714;
$hw-button-content-line-height-sm: 1.5714285714285714;
$hw-button-content-line-height-lg: 1.5;
$hw-button-padding-block: 4px;
$hw-button-padding-block-sm: 0px;
$hw-button-padding-block-lg: 7px;

$hw-tooltip-z-index-popup: 1070;
$hw-tooltip-arrow-offset-horizontal: 12px;
$hw-tooltip-arrow-offset-vertical: 8px;
$hw-tooltip-arrow-shadow-width: 8.970562748477143px;
$hw-tooltip-arrow-path: path(
  "M 0 8 A 4 4 0 0 0 2.82842712474619 6.82842712474619 L 6.585786437626905 3.0710678118654755 A 2 2 0 0 1 9.414213562373096 3.0710678118654755 L 13.17157287525381 6.82842712474619 A 4 4 0 0 0 16 8 Z"
);
$hw-tooltip-arrow-polygon: polygon(
  1.6568542494923806px 100%,
  50% 1.6568542494923806px,
  14.34314575050762px 100%,
  1.6568542494923806px 100%
);

$hw-radio-radio-size: 16;
$hw-radio-dot-size: 6;
$hw-radio-dot-color-disabled: rgba(0, 0, 0, 0.25);
$hw-radio-button-solid-checked-color: #fff;
$hw-radio-button-solid-checked-bg: #1677ff;
$hw-radio-button-solid-checked-hover-bg: #4096ff;
$hw-radio-button-solid-checked-active-bg: #0958d9;
$hw-radio-button-bg: #ffffff;
$hw-radio-button-checked-bg: #ffffff;
$hw-radio-button-color: rgba(0, 0, 0, 0.88);
$hw-radio-button-checked-bg-disabled: rgba(0, 0, 0, 0.15);
$hw-radio-button-checked-color-disabled: rgba(0, 0, 0, 0.25);
$hw-radio-button-padding-inline: 15px;
$hw-radio-wrapper-margin-inline-end: 8px;
$hw-radio-radio-color: #fff;
$hw-radio-radio-bg-color: #1677ff;

$hw-divider-text-padding-inline: 1em;
$hw-divider-orientation-margin: 0.05;
$hw-divider-vertical-margin-inline: 8px;

$hw-dropdown-z-index-popup: 1050;
$hw-dropdown-padding-block: 5px;
$hw-dropdown-arrow-offset-horizontal: 12px;
$hw-dropdown-arrow-offset-vertical: 8px;
$hw-dropdown-arrow-shadow-width: 8.970562748477143px;
$hw-dropdown-arrow-path: path(
  "M 0 8 A 4 4 0 0 0 2.82842712474619 6.82842712474619 L 6.585786437626905 3.0710678118654755 A 2 2 0 0 1 9.414213562373096 3.0710678118654755 L 13.17157287525381 6.82842712474619 A 4 4 0 0 0 16 8 Z"
);
$hw-dropdown-arrow-polygon: polygon(
  1.6568542494923806px 100%,
  50% 1.6568542494923806px,
  14.34314575050762px 100%,
  1.6568542494923806px 100%
);

$hw-blue: #1677ff;
$hw-purple: #722ed1;
$hw-cyan: #13c2c2;
$hw-green: #52c41a;
$hw-magenta: #eb2f96;
$hw-pink: #eb2f96;
$hw-red: #f5222d;
$hw-orange: #fa8c16;
$hw-yellow: #fadb14;
$hw-volcano: #fa541c;
$hw-geekblue: #2f54eb;
$hw-gold: #faad14;
$hw-lime: #a0d911;
$hw-color-primary: #1677ff;
$hw-color-success: #52c41a;
$hw-color-warning: #faad14;
$hw-color-error: #ff4d4f;
$hw-color-info: #1677ff;
$hw-color-link: #1677ff;
$hw-color-text-base: #000;
$hw-color-bg-base: #fff;
$hw-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$hw-font-family-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo,
  Courier, monospace;
$hw-font-size: 14px;
$hw-line-width: 1px;
$hw-line-type: solid;
$hw-motion-ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
$hw-motion-ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
$hw-motion-ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
$hw-motion-ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
$hw-motion-ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
$hw-motion-ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
$hw-motion-ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$hw-motion-ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$hw-border-radius: 6px;
$hw-size-popup-arrow: 16px;
$hw-control-height: 32px;
$hw-z-index-base: 0;
$hw-z-index-popup-base: 1000;
$hw-opacity-image: 1px;
$hw-blue-1: #e6f4ff;
$hw-blue-2: #bae0ff;
$hw-blue-3: #91caff;
$hw-blue-4: #69b1ff;
$hw-blue-5: #4096ff;
$hw-blue-6: #1677ff;
$hw-blue-7: #0958d9;
$hw-blue-8: #003eb3;
$hw-blue-9: #002c8c;
$hw-blue-10: #001d66;
$hw-purple-1: #f9f0ff;
$hw-purple-2: #efdbff;
$hw-purple-3: #d3adf7;
$hw-purple-4: #b37feb;
$hw-purple-5: #9254de;
$hw-purple-6: #722ed1;
$hw-purple-7: #531dab;
$hw-purple-8: #391085;
$hw-purple-9: #22075e;
$hw-purple-10: #120338;
$hw-cyan-1: #e6fffb;
$hw-cyan-2: #b5f5ec;
$hw-cyan-3: #87e8de;
$hw-cyan-4: #5cdbd3;
$hw-cyan-5: #36cfc9;
$hw-cyan-6: #13c2c2;
$hw-cyan-7: #08979c;
$hw-cyan-8: #006d75;
$hw-cyan-9: #00474f;
$hw-cyan-10: #002329;
$hw-green-1: #f6ffed;
$hw-green-2: #d9f7be;
$hw-green-3: #b7eb8f;
$hw-green-4: #95de64;
$hw-green-5: #73d13d;
$hw-green-6: #52c41a;
$hw-green-7: #389e0d;
$hw-green-8: #237804;
$hw-green-9: #135200;
$hw-green-10: #092b00;
$hw-magenta-1: #fff0f6;
$hw-magenta-2: #ffd6e7;
$hw-magenta-3: #ffadd2;
$hw-magenta-4: #ff85c0;
$hw-magenta-5: #f759ab;
$hw-magenta-6: #eb2f96;
$hw-magenta-7: #c41d7f;
$hw-magenta-8: #9e1068;
$hw-magenta-9: #780650;
$hw-magenta-10: #520339;
$hw-pink-1: #fff0f6;
$hw-pink-2: #ffd6e7;
$hw-pink-3: #ffadd2;
$hw-pink-4: #ff85c0;
$hw-pink-5: #f759ab;
$hw-pink-6: #eb2f96;
$hw-pink-7: #c41d7f;
$hw-pink-8: #9e1068;
$hw-pink-9: #780650;
$hw-pink-10: #520339;
$hw-red-1: #fff1f0;
$hw-red-2: #ffccc7;
$hw-red-3: #ffa39e;
$hw-red-4: #ff7875;
$hw-red-5: #ff4d4f;
$hw-red-6: #f5222d;
$hw-red-7: #cf1322;
$hw-red-8: #a8071a;
$hw-red-9: #820014;
$hw-red-10: #5c0011;
$hw-orange-1: #fff7e6;
$hw-orange-2: #ffe7ba;
$hw-orange-3: #ffd591;
$hw-orange-4: #ffc069;
$hw-orange-5: #ffa940;
$hw-orange-6: #fa8c16;
$hw-orange-7: #d46b08;
$hw-orange-8: #ad4e00;
$hw-orange-9: #873800;
$hw-orange-10: #612500;
$hw-yellow-1: #feffe6;
$hw-yellow-2: #ffffb8;
$hw-yellow-3: #fffb8f;
$hw-yellow-4: #fff566;
$hw-yellow-5: #ffec3d;
$hw-yellow-6: #fadb14;
$hw-yellow-7: #d4b106;
$hw-yellow-8: #ad8b00;
$hw-yellow-9: #876800;
$hw-yellow-10: #614700;
$hw-volcano-1: #fff2e8;
$hw-volcano-2: #ffd8bf;
$hw-volcano-3: #ffbb96;
$hw-volcano-4: #ff9c6e;
$hw-volcano-5: #ff7a45;
$hw-volcano-6: #fa541c;
$hw-volcano-7: #d4380d;
$hw-volcano-8: #ad2102;
$hw-volcano-9: #871400;
$hw-volcano-10: #610b00;
$hw-geekblue-1: #f0f5ff;
$hw-geekblue-2: #d6e4ff;
$hw-geekblue-3: #adc6ff;
$hw-geekblue-4: #85a5ff;
$hw-geekblue-5: #597ef7;
$hw-geekblue-6: #2f54eb;
$hw-geekblue-7: #1d39c4;
$hw-geekblue-8: #10239e;
$hw-geekblue-9: #061178;
$hw-geekblue-10: #030852;
$hw-gold-1: #fffbe6;
$hw-gold-2: #fff1b8;
$hw-gold-3: #ffe58f;
$hw-gold-4: #ffd666;
$hw-gold-5: #ffc53d;
$hw-gold-6: #faad14;
$hw-gold-7: #d48806;
$hw-gold-8: #ad6800;
$hw-gold-9: #874d00;
$hw-gold-10: #613400;
$hw-lime-1: #fcffe6;
$hw-lime-2: #f4ffb8;
$hw-lime-3: #eaff8f;
$hw-lime-4: #d3f261;
$hw-lime-5: #bae637;
$hw-lime-6: #a0d911;
$hw-lime-7: #7cb305;
$hw-lime-8: #5b8c00;
$hw-lime-9: #3f6600;
$hw-lime-10: #254000;
$hw-color-text: rgba(0, 0, 0, 0.88);
$hw-color-text-secondary: rgba(0, 0, 0, 0.65);
$hw-color-text-tertiary: rgba(0, 0, 0, 0.45);
$hw-color-text-quaternary: rgba(0, 0, 0, 0.25);
$hw-color-fill: rgba(0, 0, 0, 0.15);
$hw-color-fill-secondary: rgba(0, 0, 0, 0.06);
$hw-color-fill-tertiary: rgba(0, 0, 0, 0.04);
$hw-color-fill-quaternary: rgba(0, 0, 0, 0.02);
$hw-color-bg-layout: #f5f5f5;
$hw-color-bg-container: #ffffff;
$hw-color-bg-elevated: #ffffff;
$hw-color-bg-spotlight: rgba(0, 0, 0, 0.85);
$hw-color-bg-blur: transparent;
$hw-color-border: #d9d9d9;
$hw-color-border-secondary: #f0f0f0;
$hw-color-primary-bg: #e6f4ff;
$hw-color-primary-bg-hover: #bae0ff;
$hw-color-primary-border: #91caff;
$hw-color-primary-border-hover: #69b1ff;
$hw-color-primary-hover: #4096ff;
$hw-color-primary-active: #0958d9;
$hw-color-primary-text-hover: #4096ff;
$hw-color-primary-text: #1677ff;
$hw-color-primary-text-active: #0958d9;
$hw-color-success-bg: #f6ffed;
$hw-color-success-bg-hover: #d9f7be;
$hw-color-success-border: #b7eb8f;
$hw-color-success-border-hover: #95de64;
$hw-color-success-hover: #95de64;
$hw-color-success-active: #389e0d;
$hw-color-success-text-hover: #73d13d;
$hw-color-success-text: #52c41a;
$hw-color-success-text-active: #389e0d;
$hw-color-error-bg: #fff2f0;
$hw-color-error-bg-hover: #fff1f0;
$hw-color-error-border: #ffccc7;
$hw-color-error-border-hover: #ffa39e;
$hw-color-error-hover: #ff7875;
$hw-color-error-active: #d9363e;
$hw-color-error-text-hover: #ff7875;
$hw-color-error-text: #ff4d4f;
$hw-color-error-text-active: #d9363e;
$hw-color-warning-bg: #fffbe6;
$hw-color-warning-bg-hover: #fff1b8;
$hw-color-warning-border: #ffe58f;
$hw-color-warning-border-hover: #ffd666;
$hw-color-warning-hover: #ffd666;
$hw-color-warning-active: #d48806;
$hw-color-warning-text-hover: #ffc53d;
$hw-color-warning-text: #faad14;
$hw-color-warning-text-active: #d48806;
$hw-color-info-bg: #e6f4ff;
$hw-color-info-bg-hover: #bae0ff;
$hw-color-info-border: #91caff;
$hw-color-info-border-hover: #69b1ff;
$hw-color-info-hover: #69b1ff;
$hw-color-info-active: #0958d9;
$hw-color-info-text-hover: #4096ff;
$hw-color-info-text: #1677ff;
$hw-color-info-text-active: #0958d9;
$hw-color-link-hover: #69b1ff;
$hw-color-link-active: #0958d9;
$hw-color-bg-mask: rgba(0, 0, 0, 0.45);
$hw-color-white: #fff;
$hw-font-size-sm: 12px;
$hw-font-size-lg: 16px;
$hw-font-size-xl: 20px;
$hw-font-size-heading-1: 38px;
$hw-font-size-heading-2: 30px;
$hw-font-size-heading-3: 24px;
$hw-font-size-heading-4: 20px;
$hw-font-size-heading-5: 16px;
$hw-line-height: 1.5714285714285714;
$hw-line-height-lg: 1.5;
$hw-line-height-sm: 1.6666666666666667;
$hw-font-height: 22px;
$hw-font-height-lg: 24px;
$hw-font-height-sm: 20px;
$hw-line-height-heading-1: 1.2105263157894737;
$hw-line-height-heading-2: 1.2666666666666666;
$hw-line-height-heading-3: 1.3333333333333333;
$hw-line-height-heading-4: 1.4;
$hw-line-height-heading-5: 1.5;
$hw-control-height-sm: 24px;
$hw-control-height-xs: 16px;
$hw-control-height-lg: 40px;
$hw-motion-duration-fast: 0s;
$hw-motion-duration-mid: 0s;
$hw-motion-duration-slow: 0s;
$hw-line-width-bold: 2px;
$hw-border-radius-xs: 2px;
$hw-border-radius-sm: 4px;
$hw-border-radius-lg: 8px;
$hw-border-radius-outer: 4px;
$hw-color-fill-content: rgba(0, 0, 0, 0.06);
$hw-color-fill-content-hover: rgba(0, 0, 0, 0.15);
$hw-color-fill-alter: rgba(0, 0, 0, 0.02);
$hw-color-bg-container-disabled: rgba(0, 0, 0, 0.04);
$hw-color-border-bg: #ffffff;
$hw-color-split: rgba(5, 5, 5, 0.06);
$hw-color-text-placeholder: rgba(0, 0, 0, 0.25);
$hw-color-text-disabled: rgba(0, 0, 0, 0.25);
$hw-color-text-heading: rgba(0, 0, 0, 0.88);
$hw-color-text-label: rgba(0, 0, 0, 0.65);
$hw-color-text-description: rgba(0, 0, 0, 0.45);
$hw-color-text-light-solid: #fff;
$hw-color-highlight: #ff4d4f;
$hw-color-bg-text-hover: rgba(0, 0, 0, 0.06);
$hw-color-bg-text-active: rgba(0, 0, 0, 0.15);
$hw-color-icon: rgba(0, 0, 0, 0.45);
$hw-color-icon-hover: rgba(0, 0, 0, 0.88);
$hw-color-error-outline: rgba(255, 38, 5, 0.06);
$hw-color-warning-outline: rgba(255, 215, 5, 0.1);
$hw-font-size-icon: 12px;
$hw-line-width-focus: 4px;
$hw-control-outline-width: 2px;
$hw-control-interactive-size: 16px;
$hw-control-item-bg-hover: rgba(0, 0, 0, 0.04);
$hw-control-item-bg-active: #e6f4ff;
$hw-control-item-bg-active-hover: #bae0ff;
$hw-control-item-bg-active-disabled: rgba(0, 0, 0, 0.15);
$hw-control-tmp-outline: rgba(0, 0, 0, 0.02);
$hw-control-outline: rgba(5, 145, 255, 0.1);
$hw-font-weight-strong: 600;
$hw-opacity-loading: 0.65;
$hw-link-decoration: none;
$hw-link-hover-decoration: none;
$hw-link-focus-decoration: none;
$hw-control-padding-horizontal: 12px;
$hw-control-padding-horizontal-sm: 8px;
$hw-padding-xxs: 4px;
$hw-padding-xs: 8px;
$hw-padding-sm: 12px;
$hw-padding: 16px;
$hw-padding-md: 20px;
$hw-padding-lg: 24px;
$hw-padding-xl: 32px;
$hw-padding-content-horizontal-lg: 24px;
$hw-padding-content-vertical-lg: 16px;
$hw-padding-content-horizontal: 16px;
$hw-padding-content-vertical: 12px;
$hw-padding-content-horizontal-sm: 16px;
$hw-padding-content-vertical-sm: 8px;
$hw-margin-xxs: 4px;
$hw-margin-xs: 8px;
$hw-margin-sm: 12px;
$hw-margin: 16px;
$hw-margin-md: 20px;
$hw-margin-lg: 24px;
$hw-margin-xl: 32px;
$hw-margin-xxl: 48px;
$hw-box-shadow:
  0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);
$hw-box-shadow-secondary:
  0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);
$hw-box-shadow-tertiary:
  0 1px 2px 0 rgba(0, 0, 0, 0.03),
  0 1px 6px -1px rgba(0, 0, 0, 0.02),
  0 2px 4px 0 rgba(0, 0, 0, 0.02);
$hw-box-shadow-popover-arrow: 2px 2px 5px rgba(0, 0, 0, 0.05);
$hw-box-shadow-card:
  0 1px 2px -2px rgba(0, 0, 0, 0.16),
  0 3px 6px 0 rgba(0, 0, 0, 0.12),
  0 5px 12px 4px rgba(0, 0, 0, 0.09);
$hw-box-shadow-drawer-right:
  -6px 0 16px 0 rgba(0, 0, 0, 0.08),
  -3px 0 6px -4px rgba(0, 0, 0, 0.12),
  -9px 0 28px 8px rgba(0, 0, 0, 0.05);
$hw-box-shadow-drawer-left:
  6px 0 16px 0 rgba(0, 0, 0, 0.08),
  3px 0 6px -4px rgba(0, 0, 0, 0.12),
  9px 0 28px 8px rgba(0, 0, 0, 0.05);
$hw-box-shadow-drawer-up:
  0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);
$hw-box-shadow-drawer-down:
  0 -6px 16px 0 rgba(0, 0, 0, 0.08),
  0 -3px 6px -4px rgba(0, 0, 0, 0.12),
  0 -9px 28px 8px rgba(0, 0, 0, 0.05);
$hw-box-shadow-tabs-overflow-left: inset 10px 0 8px -8px rgba(0, 0, 0, 0.08);
$hw-box-shadow-tabs-overflow-right: inset -10px 0 8px -8px rgba(0, 0, 0, 0.08);
$hw-box-shadow-tabs-overflow-top: inset 0 10px 8px -8px rgba(0, 0, 0, 0.08);
$hw-box-shadow-tabs-overflow-bottom: inset 0 -10px 8px -8px rgba(0, 0, 0, 0.08);

$hw-tag-default-bg: #fafafa;
$hw-tag-default-color: rgba(0, 0, 0, 0.88);

$hw-popover-title-min-width: 177px;
$hw-popover-z-index-popup: 1030;
$hw-popover-arrow-shadow-width: 8.970562748477143px;
$hw-popover-arrow-path: path(
  "M 0 8 A 4 4 0 0 0 2.82842712474619 6.82842712474619 L 6.585786437626905 3.0710678118654755 A 2 2 0 0 1 9.414213562373096 3.0710678118654755 L 13.17157287525381 6.82842712474619 A 4 4 0 0 0 16 8 Z"
);
$hw-popover-arrow-polygon: polygon(
  1.6568542494923806px 100%,
  50% 1.6568542494923806px,
  14.34314575050762px 100%,
  1.6568542494923806px 100%
);
$hw-popover-arrow-offset-horizontal: 12px;
$hw-popover-arrow-offset-vertical: 8px;
$hw-popover-inner-padding: 12px;
$hw-popover-title-margin-bottom: 8px;
$hw-popover-title-padding: 0px;
$hw-popover-title-border-bottom: none;
$hw-popover-inner-content-padding: 0px;
