$hw-color-primary: #1677ff;
$hw-color-success: #52c41a;
$hw-color-warning: #faad14;
$hw-color-error: #ff4d4f;
$hw-color-info: #1677ff;
$hw-color-link: #1677ff;
$hw-color-text-base: #000;
$hw-color-bg-base: #fff;
$hw-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$hw-font-family-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo,
  Courier, monospace;
$hw-font-size: 14px;
$hw-line-width: 1px;
$hw-line-type: solid;
$hw-border-radius: 6px;
$hw-size-popup-arrow: 16px;
$hw-control-height: 32px;
$hw-color-text: rgba(0, 0, 0, 0.88);
$hw-color-text-secondary: rgba(0, 0, 0, 0.65);
$hw-color-text-tertiary: rgba(0, 0, 0, 0.45);
$hw-color-text-quaternary: rgba(0, 0, 0, 0.25);
$hw-color-fill: rgba(0, 0, 0, 0.15);
$hw-color-fill-secondary: rgba(0, 0, 0, 0.06);
$hw-color-fill-tertiary: rgba(0, 0, 0, 0.04);
$hw-color-fill-quaternary: rgba(0, 0, 0, 0.02);
$hw-color-bg-layout: #f5f5f5;
$hw-color-bg-container: #ffffff;
$hw-color-bg-elevated: #ffffff;
$hw-color-bg-spotlight: rgba(0, 0, 0, 0.85);
$hw-color-bg-blur: transparent;
$hw-color-border: #d9d9d9;
$hw-color-border-secondary: #f0f0f0;
$hw-color-primary-bg: #e6f4ff;
$hw-color-primary-bg-hover: #bae0ff;
$hw-color-primary-border: #91caff;
$hw-color-primary-border-hover: #69b1ff;
$hw-color-primary-hover: #4096ff;
$hw-color-primary-active: #0958d9;
$hw-color-primary-text-hover: #4096ff;
$hw-color-primary-text: #1677ff;
$hw-color-primary-text-active: #0958d9;
$hw-color-success-bg: #f6ffed;
$hw-color-success-bg-hover: #d9f7be;
$hw-color-success-border: #b7eb8f;
$hw-color-success-border-hover: #95de64;
$hw-color-success-hover: #95de64;
$hw-color-success-active: #389e0d;
$hw-color-success-text-hover: #73d13d;
$hw-color-success-text: #52c41a;
$hw-color-success-text-active: #389e0d;
$hw-color-error-bg: #fff2f0;
$hw-color-error-bg-hover: #fff1f0;
$hw-color-error-border: #ffccc7;
$hw-color-error-border-hover: #ffa39e;
$hw-color-error-hover: #ff7875;
$hw-color-error-active: #d9363e;
$hw-color-error-text-hover: #ff7875;
$hw-color-error-text: #ff4d4f;
$hw-color-error-text-active: #d9363e;
$hw-color-warning-bg: #fffbe6;
$hw-color-warning-bg-hover: #fff1b8;
$hw-color-warning-border: #ffe58f;
$hw-color-warning-border-hover: #ffd666;
$hw-color-warning-hover: #ffd666;
$hw-color-warning-active: #d48806;
$hw-color-warning-text-hover: #ffc53d;
$hw-color-warning-text: #faad14;
$hw-color-warning-text-active: #d48806;
$hw-color-info-bg: #e6f4ff;
$hw-color-info-bg-hover: #bae0ff;
$hw-color-info-border: #91caff;
$hw-color-info-border-hover: #69b1ff;
$hw-color-info-hover: #69b1ff;
$hw-color-info-active: #0958d9;
$hw-color-info-text-hover: #4096ff;
$hw-color-info-text: #1677ff;
$hw-color-info-text-active: #0958d9;
$hw-color-link-hover: #69b1ff;
$hw-color-link-active: #0958d9;
$hw-color-bg-mask: rgba(0, 0, 0, 0.45);
$hw-color-white: #fff;
$hw-font-size-sm: 12px;
$hw-font-size-lg: 16px;
$hw-font-size-xl: 20px;
$hw-font-size-heading-1: 38px;
$hw-font-size-heading-2: 30px;
$hw-font-size-heading-3: 24px;
$hw-font-size-heading-4: 20px;
$hw-font-size-heading-5: 16px;
$hw-line-height: 1.5714285714285714;
$hw-line-height-lg: 1.5;
$hw-line-height-sm: 1.6666666666666667;
$hw-font-height: 22px;
$hw-font-height-lg: 24px;
$hw-font-height-sm: 20px;
$hw-line-height-heading-1: 1.2105263157894737;
$hw-line-height-heading-2: 1.2666666666666666;
$hw-line-height-heading-3: 1.3333333333333333;
$hw-line-height-heading-4: 1.4;
$hw-line-height-heading-5: 1.5;
$hw-line-width-bold: 2px;
$hw-border-radius-xs: 2px;
$hw-border-radius-sm: 4px;
$hw-border-radius-lg: 8px;
$hw-border-radius-outer: 4px;
$hw-color-bg-container-disabled: rgba(0, 0, 0, 0.04);
$hw-color-border-bg: #ffffff;
$hw-color-split: rgba(5, 5, 5, 0.06);
$hw-color-text-placeholder: rgba(0, 0, 0, 0.25);
$hw-color-text-disabled: rgba(0, 0, 0, 0.25);
$hw-color-text-heading: rgba(0, 0, 0, 0.88);
$hw-color-text-label: rgba(0, 0, 0, 0.65);
$hw-color-text-description: rgba(0, 0, 0, 0.45);
$hw-color-text-light-solid: #fff;
$hw-color-highlight: #ff4d4f;
$hw-color-bg-text-hover: rgba(0, 0, 0, 0.06);
$hw-color-bg-text-active: rgba(0, 0, 0, 0.15);
$hw-color-icon: rgba(0, 0, 0, 0.45);
$hw-color-icon-hover: rgba(0, 0, 0, 0.88);
$hw-color-error-outline: rgba(255, 38, 5, 0.06);
$hw-color-warning-outline: rgba(255, 215, 5, 0.1);
$hw-font-size-icon: 12px;
$hw-line-width-focus: 4px;
$hw-control-outline-width: 2px;
$hw-control-interactive-size: 16px;
$hw-control-item-bg-hover: rgba(0, 0, 0, 0.04);
$hw-control-item-bg-active: #e6f4ff;
$hw-control-item-bg-active-hover: #bae0ff;
$hw-control-item-bg-active-disabled: rgba(0, 0, 0, 0.15);
$hw-control-tmp-outline: rgba(0, 0, 0, 0.02);
$hw-control-outline: rgba(5, 145, 255, 0.1);
$hw-font-weight-strong: 600;
$hw-opacity-loading: 0.65;
$hw-link-decoration: none;
$hw-link-hover-decoration: none;
$hw-link-focus-decoration: none;
$hw-control-padding-horizontal: 12px;
$hw-control-padding-horizontal-sm: 8px;

$hw-button-font-weight: 400;
$hw-button-default-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
$hw-button-primary-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
$hw-button-danger-shadow: 0 2px 0 rgba(255, 38, 5, 0.06);
$hw-button-primary-color: #fff;
$hw-button-danger-color: #fff;
$hw-button-border-color-disabled: #d9d9d9;
$hw-button-default-ghost-color: #ffffff;
$hw-button-ghost-bg: transparent;
$hw-button-default-ghost-border-color: #ffffff;
$hw-button-padding-inline: 15px;
$hw-button-padding-inline-lg: 15px;
$hw-button-padding-inline-sm: 7px;
$hw-button-only-icon-size: 16px;
$hw-button-only-icon-size-sm: 14px;
$hw-button-only-icon-size-lg: 18px;
$hw-button-group-border-color: #4096ff;
$hw-button-link-hover-bg: transparent;
$hw-button-text-hover-bg: rgba(0, 0, 0, 0.06);
$hw-button-default-color: rgba(0, 0, 0, 0.88);
$hw-button-default-bg: #ffffff;
$hw-button-default-border-color: #d9d9d9;
$hw-button-default-border-color-disabled: #d9d9d9;
$hw-button-default-hover-bg: #ffffff;
$hw-button-default-hover-color: #4096ff;
$hw-button-default-hover-border-color: #4096ff;
$hw-button-default-active-bg: #ffffff;
$hw-button-default-active-color: #0958d9;
$hw-button-default-active-border-color: #0958d9;
$hw-button-content-font-size: 14px;
$hw-button-content-font-size-sm: 14px;
$hw-button-content-font-size-lg: 16px;
$hw-button-content-line-height: 1.5714285714285714;
$hw-button-content-line-height-sm: 1.5714285714285714;
$hw-button-content-line-height-lg: 1.5;
$hw-button-padding-block: 4px;
$hw-button-padding-block-sm: 0px;
$hw-button-padding-block-lg: 7px;
$hw-control-height-sm: 24px;
$hw-control-height-lg: 40px;
