.hw-div {
    background-color: #ffffff;
    border-radius: 8px 8px 0 0;
    padding: 42px 24px 50px;
    color: rgba(0, 0, 0, 0.88);
    border-bottom: 1px solid rgba(5, 5, 5, 0.06);
    display: flex;
    justify-content: space-evenly;
}

.hw-bg-gray {
    background: rgb(190, 200, 200);
}

.hw-div-section{
    width: 50%;
}

.hw-div .button{
    margin: 10px;
}