@import "_variables.scss";
.hw-button {
  outline: none;
  position: relative;
  display: inline-block;
  font-weight: $hw-button-font-weight;
  font-family: $hw-font-family;
  font-size: $hw-font-size;
  line-height: 1.6px;
  height: 32px;
  padding: 4px 15px;
  border-radius: 6px;
  box-sizing: border-box;
  white-space: nowrap;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
  color: rgba(0, 0, 0, 0.88);
  background-image: none;
  background: transparent;
}

.hw-button:disabled > * {
  pointer-events: none;
}

.hw-button > span {
  display: inline-block;
}

.hw-button:hover {
  cursor: pointer;
}

.hw-button-default {
  background: #ffffff;
  border-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.88);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}

.hw-button-default:disabled,
.hw-button-default.hw-button-disabled {
  cursor: not-allowed;
  border-color: $hw-button-border-color-disabled;
  color: $hw-color-text-disabled;
  background: $hw-color-bg-container-disabled;
  box-shadow: none;
}

.hw-button-default:not(:disabled):not(.hw-button-disabled):hover {
  color: $hw-button-default-hover-color;
  border-color: $hw-button-default-hover-border-color;
  background: $hw-button-default-hover-bg;
}

.hw-button-default:not(:disabled):not(.hw-button-disabled):active {
  color: $hw-button-default-active-color;
  border-color: $hw-button-default-active-border-color;
  background: $hw-button-default-active-bg;
}

.hw-button-default.hw-button-background-ghost {
  color: $hw-button-default-ghost-color;
  background: $hw-button-ghost-bg;
  border-color: $hw-button-default-ghost-border-color;
  box-shadow: none;
}

.hw-button-default.hw-button-background-ghost:not(:disabled):not(
    .hw-button-disabled
  ):hover {
  background: $hw-button-ghost-bg;
}

.hw-button-default.hw-button-background-ghost:not(:disabled):not(
    .hw-button-disabled
  ):active {
  background: $hw-button-ghost-bg;
}

.hw-button-default.hw-button-background-ghost:disabled {
  cursor: not-allowed;
  color: $hw-color-text-disabled;
  border-color: $hw-color-border;
}

.hw-button-default:not(:disabled):not(.hw-button-disabled):focus-visible {
  outline: 4px solid #91caff;
  outline-offset: 1px;
  transition:
    outline-offset 0s,
    outline 0s;
}

.hw-button-default.hw-button-dangerous {
  color: $hw-color-error;
  border-color: $hw-color-error;
}

.hw-button-default.hw-button-dangerous:not(:disabled):not(
    .hw-button-disabled
  ):hover {
  color: $hw-color-error-hover;
  border-color: $hw-color-error-border-hover;
}

.hw-button-default.hw-button-dangerous:not(:disabled):not(
    .hw-button-disabled
  ):active {
  color: $hw-color-error-active;
  border-color: $hw-color-error-active;
}

.hw-button-default.hw-button-dangerous.hw-button-background-ghost {
  color: $hw-color-error;
  background: $hw-button-ghost-bg;
  border-color: $hw-color-error;
  box-shadow: none;
}

.hw-button-default.hw-button-dangerous.hw-button-background-ghost:not(
    :disabled
  ):not(.hw-button-disabled):hover {
  background: $hw-button-ghost-bg;
}

.hw-button-default.hw-button-dangerous.hw-button-background-ghost:not(
    :disabled
  ):not(.hw-button-disabled):active {
  background: $hw-button-ghost-bg;
}

.hw-button-default.hw-button-dangerous.hw-button-background-ghost:disabled {
  cursor: not-allowed;
  color: $hw-color-text-disabled;
  border-color: $hw-color-border;
}

.hw-button-default.hw-button-dangerous:disabled,
.hw-button-default.hw-button-dangerous.hw-button-disabled {
  cursor: not-allowed;
  border-color: $hw-button-border-color-disabled;
  color: $hw-color-text-disabled;
  background: $hw-color-bg-container-disabled;
  box-shadow: none;
}

.hw-button-primary {
  color: $hw-button-primary-color;
  background: $hw-color-primary;
  box-shadow: $hw-button-primary-shadow;
}

.hw-button-primary:disabled,
.hw-button-primary.hw-button-disabled {
  cursor: not-allowed;
  border-color: #d9d9d9;
  color: #d9d9d9;
  background: none;
  box-shadow: none;
}

.hw-button-primary:not(:disabled):not(.hw-button-disabled):hover {
  color: $hw-color-text-light-solid;
  background: $hw-color-primary-hover;
}

.hw-button-primary:not(:disabled):not(.hw-button-disabled):active {
  color: $hw-color-text-light-solid;
  background: $hw-color-primary-active;
}

.hw-button-primary.hw-button-background-ghost {
  color: $hw-color-primary;
  background: $hw-button-ghost-bg;
  border-color: $hw-color-primary;
  box-shadow: none;
}

.hw-button-primary.hw-button-background-ghost:not(:disabled):not(
    .hw-button-disabled
  ):hover {
  background: $hw-button-ghost-bg;
  color: $hw-color-primary-hover;
  border-color: $hw-color-primary-hover;
}

.hw-button-primary.hw-button-background-ghost:not(:disabled):not(
    .hw-button-disabled
  ):active {
  background: $hw-button-ghost-bg;
  color: $hw-color-primary-active;
  border-color: $hw-color-primary-active;
}

.hw-button-primary.hw-button-background-ghost:disabled {
  cursor: not-allowed;
  color: $hw-color-text-disabled;
  border-color: $hw-color-border;
}

.hw-button-primary.hw-button-dangerous {
  background: $hw-color-error;
  box-shadow: $hw-button-danger-shadow;
  color: $hw-button-danger-color;
}

.hw-button-primary.hw-button-dangerous:not(:disabled):not(
    .hw-button-disabled
  ):hover {
  background: $hw-color-error-hover;
}

.hw-button-primary.hw-button-dangerous:not(:disabled):not(
    .hw-button-disabled
  ):active {
  background: $hw-color-error-active;
}

.hw-button-primary.hw-button-dangerous.hw-button-background-ghost {
  color: $hw-color-error;
  background: $hw-button-ghost-bg;
  border-color: $hw-color-error;
  box-shadow: none;
}

.hw-button-primary.hw-button-dangerous.hw-button-background-ghost:not(
    :disabled
  ):not(.hw-button-disabled):hover {
  background: $hw-button-ghost-bg;
  color: $hw-color-error-hover;
  border-color: $hw-color-error-hover;
}

.hw-button-primary.hw-button-dangerous.hw-button-background-ghost:not(
    :disabled
  ):not(.hw-button-disabled):active {
  background: $hw-button-ghost-bg;
  color: $hw-color-error-active;
  border-color: $hw-color-error-active;
}

.hw-button-primary.hw-button-dangerous.hw-button-background-ghost:disabled {
  cursor: not-allowed;
  color: $hw-color-text-disabled;
  border-color: $hw-color-border;
}

.hw-button-primary.hw-button-dangerous:disabled,
.hw-button-primary.hw-button-dangerous.hw-button-disabled {
  cursor: not-allowed;
  border-color: $hw-button-border-color-disabled;
  color: $hw-color-text-disabled;
  background: $hw-color-bg-container-disabled;
  box-shadow: none;
}

.hw-button-dashed {
  background: $hw-button-default-bg;
  border-color: $hw-button-default-border-color;
  color: $hw-button-default-color;
  box-shadow: $hw-button-default-shadow;
  border-style: dashed;
}

.hw-button-dashed:disabled,
.hw-button-dashed.hw-button-disabled {
  cursor: not-allowed;
  border-color: $hw-button-border-color-disabled;
  color: $hw-color-text-disabled;
  background: $hw-color-bg-container-disabled;
  box-shadow: none;
}

.hw-button-dashed:not(:disabled):not(.hw-button-disabled):hover {
  color: $hw-button-default-hover-color;
  border-color: $hw-button-default-hover-border-color;
  background: $hw-button-default-hover-bg;
}

.hw-button-dashed:not(:disabled):not(.hw-button-disabled):active {
  color: $hw-button-default-active-color;
  border-color: $hw-button-default-active-border-color;
  background: $hw-button-default-active-bg;
}

.hw-button-dashed.hw-button-background-ghost {
  color: $hw-button-default-ghost-color;
  background: $hw-button-ghost-bg;
  border-color: $hw-button-default-ghost-border-color;
  box-shadow: none;
}

.hw-button-dashed.hw-button-background-ghost:not(:disabled):not(
    .hw-button-disabled
  ):hover {
  background: $hw-button-ghost-bg;
}

.hw-button-dashed.hw-button-background-ghost:not(:disabled):not(
    .hw-button-disabled
  ):active {
  background: $hw-button-ghost-bg;
}

.hw-button-dashed.hw-button-background-ghost:disabled {
  cursor: not-allowed;
  color: $hw-color-text-disabled;
  border-color: $hw-color-border;
}

.hw-button-dashed.hw-button-dangerous {
  color: $hw-color-error;
  border-color: $hw-color-error;
}

.hw-button-dashed.hw-button-dangerous:not(:disabled):not(
    .hw-button-disabled
  ):hover {
  color: $hw-color-error-hover;
  border-color: $hw-color-error-border-hover;
}

.hw-button-dashed.hw-button-dangerous:not(:disabled):not(
    .hw-button-disabled
  ):active {
  color: $hw-color-error-active;
  border-color: $hw-color-error-active;
}

.hw-button-dashed.hw-button-dangerous.hw-button-background-ghost {
  color: $hw-color-error;
  background: $hw-button-ghost-bg;
  border-color: $hw-color-error;
  box-shadow: none;
}

.hw-button-dashed.hw-button-dangerous.hw-button-background-ghost:not(
    :disabled
  ):not(.hw-button-disabled):hover {
  background: $hw-button-ghost-bg;
}

.hw-button-dashed.hw-button-dangerous.hw-button-background-ghost:not(
    :disabled
  ):not(.hw-button-disabled):active {
  background: $hw-button-ghost-bg;
}

.hw-button-dashed.hw-button-dangerous.hw-button-background-ghost:disabled {
  cursor: not-allowed;
  color: $hw-color-text-disabled;
  border-color: $hw-color-border;
}

.hw-button-dashed.hw-button-dangerous:disabled,
.hw-button-dashed.hw-button-dangerous.hw-button-disabled {
  cursor: not-allowed;
  border-color: $hw-button-border-color-disabled;
  color: $hw-color-text-disabled;
  background: $hw-color-bg-container-disabled;
  box-shadow: none;
}

.hw-button-link {
  color: $hw-color-link;
}

.hw-button-link:not(:disabled):not(.hw-button-disabled):hover {
  color: $hw-color-link-hover;
  background: $hw-button-link-hover-bg;
}

.hw-button-link:not(:disabled):not(.hw-button-disabled):active {
  color: $hw-color-link-active;
}

.hw-button-link:disabled,
.hw-button-link.hw-button-disabled {
  cursor: not-allowed;
  color: $hw-color-text-disabled;
}

.hw-button-link.hw-button-dangerous {
  color: $hw-color-error;
}

.hw-button-link.hw-button-dangerous:not(:disabled):not(
    .hw-button-disabled
  ):hover {
  color: $hw-color-error-hover;
}

.hw-button-link.hw-button-dangerous:not(:disabled):not(
    .hw-button-disabled
  ):active {
  color: $hw-color-error-active;
}

.hw-button-link.hw-button-dangerous:disabled,
.hw-button-link.hw-button-dangerous.hw-button-disabled {
  cursor: not-allowed;
  color: $hw-color-text-disabled;
}

.hw-button-text:not(:disabled):not(.hw-button-disabled):hover {
  color: $hw-color-text;
  background: $hw-button-text-hover-bg;
}

.hw-button-text:not(:disabled):not(.hw-button-disabled):active {
  color: $hw-color-text;
  background: $hw-color-bg-text-active;
}

.hw-button-text:disabled,
.hw-button-text.hw-button-disabled {
  cursor: not-allowed;
  color: $hw-color-text-disabled;
}

.hw-button-text.hw-button-dangerous {
  color: $hw-color-error;
}

.hw-button-text.hw-button-dangerous:disabled,
.hw-button-text.hw-button-dangerous.hw-button-disabled {
  cursor: not-allowed;
  color: $hw-color-text-disabled;
}

.hw-button-text.hw-button-dangerous:not(:disabled):not(
    .hw-button-disabled
  ):hover {
  color: $hw-color-error-hover;
  background: $hw-color-error-bg;
}

.hw-button-text.hw-button-dangerous:not(:disabled):not(
    .hw-button-disabled
  ):active {
  color: $hw-color-error-hover;
  background: $hw-color-error-bg;
}

.hw-button-ghost.hw-button-background-ghost {
  color: $hw-color-bg-container;
  background: $hw-button-ghost-bg;
  border-color: $hw-color-bg-container;
  box-shadow: none;
}

.hw-button-ghost.hw-button-background-ghost:not(:disabled):not(
    .hw-button-disabled
  ):hover {
  background: $hw-button-ghost-bg;
}

.hw-button-ghost.hw-button-background-ghost:not(:disabled):not(
    .hw-button-disabled
  ):active {
  background: $hw-button-ghost-bg;
}

.hw-button-ghost.hw-button-background-ghost:disabled {
  cursor: not-allowed;
  color: $hw-color-text-disabled;
  border-color: $hw-color-border;
}

.hw-button-large {
  font-size: $hw-button-content-font-size-lg;
  line-height: $hw-button-content-line-height-lg;
  height: $hw-control-height-lg;
  padding: $hw-button-padding-block-lg $hw-button-padding-inline-lg;
  border-radius: $hw-border-radius-lg;
}

.hw-button-small {
  font-size: $hw-button-content-font-size-sm;
  line-height: $hw-button-content-line-height-sm;
  height: $hw-control-height-sm;
  padding: $hw-button-padding-block-sm $hw-button-padding-inline-sm;
  border-radius: $hw-border-radius-sm;
}

.hw-button.hw-button-loading {
  opacity: 0.65;
  cursor: default;
}

.hw-button:not(.hw-button-icon-only) > .hw-button-icon.hw-button-loading-icon,
.hw-button:not(.hw-button-icon-only) > .hw-button-icon:not(:last-child) {
  margin-inline-end: 8px;
}

.hw-button-loading > .hw-button-loading-animation > .hw-button-loading-svg {
  margin-right: 3px;
  animation: hw-button-rotate 1s infinite linear;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@keyframes hw-button-rotate {
  to {
    transform: rotate(1turn);
  }
}

.hw-div {
  background-color: #ffffff;
  border-radius: 8px 8px 0 0;
  padding: 42px 24px 50px;
  color: rgba(0, 0, 0, 0.88);
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
  display: flex;
  justify-content: space-evenly;
}

.hw-bg-gray {
  background: rgb(190, 200, 200);
}

.hw-div-section {
  width: 50%;
}

.hw-div .button {
  margin: 10px;
}
